include ../../mixins/cards/book-card
include ../../mixins/slider-navigation

.swiper.book-boosted-premium-swiper
    .swiper-wrapper
        .swiper-slide
            +book-card("#", "img/boosted-content-img-1.jpg", "Monarch", "by Cobber", "150px")
        .swiper-slide
            +book-card("#", "img/boosted-content-img-2.jpg", "Where Dragons Rule: Dissent (Old Ver)", "by Sonny Dae", "150px")
        .swiper-slide
            +book-card("#", "img/boosted-content-img-3.jpg", "Choose Your Seaside Adventure", "by toadstoolwoods", "150px")
        .swiper-slide
            +book-card("#", "img/boosted-content-img-4.jpg", "The Divine Diamond Highway", "by Thomas LaHomme", "150px")
        .swiper-slide
            +book-card("#", "img/boosted-content-img-5.jpg", "The Rockstar - Beginnings", "by RoyBoy", "150px")
        .swiper-slide
            +book-card("#", "img/boosted-content-img-6.jpg", "The Rockstar - Beginnings", "by RoyBoy", "150px")
+slider-navigation("book-boosted-premium")