include ../../mixins/slider-navigation

.swiper.new-members-swiper 
    .swiper-wrapper 
        .swiper-slide
            .row.text-center.gy-2 
                .col-12
                    img.rounded-circle(src="img/member-ava.jpg", alt="", style="width: 90px;")
                .col-12
                    h6.text-center.mb-0 MicahOrchid08
        .swiper-slide
            .row.text-center.gy-2 
                .col-12
                    img.rounded-circle(src="img/member-ava.jpg", alt="", style="width: 90px;")
                .col-12
                    h6.text-center.mb-0 MicahOrchid08
        .swiper-slide
            .row.text-center.gy-2 
                .col-12
                    img.rounded-circle(src="img/member-ava.jpg", alt="", style="width: 90px;")
                .col-12
                    h6.text-center.mb-0 MicahOrchid08
        .swiper-slide
            .row.text-center.gy-2 
                .col-12
                    img.rounded-circle(src="img/member-ava.jpg", alt="", style="width: 90px;")
                .col-12
                    h6.text-center.mb-0 MicahOrchid08
        .swiper-slide
            .row.text-center.gy-2 
                .col-12
                    img.rounded-circle(src="img/member-ava.jpg", alt="", style="width: 90px;")
                .col-12
                    h6.text-center.mb-0 MicahOrchid08
        .swiper-slide
            .row.text-center.gy-2 
                .col-12
                    img.rounded-circle(src="img/member-ava.jpg", alt="", style="width: 90px;")
                .col-12
                    h6.text-center.mb-0 MicahOrchid08
+slider-navigation("new-members")