section.dark-bg.py-5.py-lg-6
    .container
        .row.justify-content-center.align-items-center
            .col-12.col-sm-7
                h1.text-center.text-sm-start Booksie Writing 
                    span.text-warning Contests
                    |  and Competitions
            .col-12.col-sm-5.text-center
                img(src="img/contest-img.png", alt="")