.content 
    table.table.table-adaptive.table-striped
        thead 
            tr 
                th Posting
                th Author
                th Type
                th Genre
                th Date
        tbody 
            tr 
                td(data-label="Posting") 
                    a(href="").text-decoration-none In Your Thoughts
                td(data-label="Author") 
                    a(href="").text-decoration-none Netalie
                td(data-label="Type") Netalie
                td(data-label="Genre") Poetry
                td(data-label="Date") Sep 01, 2024
            tr 
                td(data-label="Posting") 
                    a(href="").text-decoration-none Making a Scene in Church
                td(data-label="Author") 
                    a(href="").text-decoration-none Netalie
                td(data-label="Type") Writing Contest
                td(data-label="Genre") Humor
                td(data-label="Date") Sep 01, 2024
            tr 
                td(data-label="Posting") 
                    a(href="").text-decoration-none Bugging the Blowup
                td(data-label="Author") 
                    a(href="").text-decoration-none Netalie
                td(data-label="Type") Writing Contest
                td(data-label="Genre") Humor
                td(data-label="Date") Sep 01, 2024
            tr 
                td(data-label="Posting") 
                    a(href="").text-decoration-none Gathered Grace
                td(data-label="Author") 
                    a(href="").text-decoration-none Netalie
                td(data-label="Type") Writing Contest
                td(data-label="Genre") Humor
                td(data-label="Date") Sep 01, 2024
            tr 
                td(data-label="Posting") 
                    a(href="").text-decoration-none Christmas Party Amidst Grief
                td(data-label="Author") 
                    a(href="").text-decoration-none Netalie
                td(data-label="Type") Writing Contest
                td(data-label="Genre") Humor
                td(data-label="Date") Sep 01, 2024
            tr 
                td(data-label="Posting") 
                    a(href="").text-decoration-none Driving with Max
                td(data-label="Author") 
                    a(href="").text-decoration-none Netalie
                td(data-label="Type") Writing Contest
                td(data-label="Genre") Humor
                td(data-label="Date") Sep 01, 2024
            tr 
                td(data-label="Posting") 
                    a(href="").text-decoration-none Pause on the Walkway
                td(data-label="Author") 
                    a(href="").text-decoration-none Netalie
                td(data-label="Type") Writing Contest
                td(data-label="Genre") Humor
                td(data-label="Date") Sep 01, 2024
            tr 
                td(data-label="Posting") 
                    a(href="").text-decoration-none A Matter of Minutes
                td(data-label="Author") 
                    a(href="").text-decoration-none Netalie
                td(data-label="Type") Writing Contest
                td(data-label="Genre") Humor
                td(data-label="Date") Sep 01, 2024
            tr 
                td(data-label="Posting") 
                    a(href="").text-decoration-none Vice Versa
                td(data-label="Author") 
                    a(href="").text-decoration-none Netalie
                td(data-label="Type") Writing Contest
                td(data-label="Genre") Humor
                td(data-label="Date") Sep 01, 2024
            tr 
                td(data-label="Posting") 
                    a(href="").text-decoration-none Roadtrip with His Lil Sunshine
                td(data-label="Author") 
                    a(href="").text-decoration-none Netalie
                td(data-label="Type") Writing Contest
                td(data-label="Genre") Humor
                td(data-label="Date") Sep 01, 2024
            tr 
                td(data-label="Posting") 
                    a(href="").text-decoration-none Wallflower Waltz
                td(data-label="Author") 
                    a(href="").text-decoration-none Netalie
                td(data-label="Type") Writing Contest
                td(data-label="Genre") Humor
                td(data-label="Date") Sep 01, 2024
    p.bg-light.p-3.p-lg-4.rounded.text-center 
        a(href="") Upgrade to Premium Membership
        |  to view all the contest entries.
    .row.g-2.justify-content-center
        .col-auto.flex-fill.flex-sm-grow-0 
            a.btn.btn-outline-primary.w-100(href="") Enter the Contest 
        .col-auto.flex-fill.flex-sm-grow-0 
            a.btn.btn-primary.w-100(href="") Enter writing In Contest
    .mt-6.mt-lg-9
        h3 Upgrade to Premium Membership to view all contest entries.
        p Premium membership also includes:
        p 
            i.icon.icon-chevron-right 
            | Unlimited entries to free Booksie contests.
        p 
            i.icon.icon-chevron-right 
            | Detailed reader stats
        p 
            i.icon.icon-chevron-right 
            | Insight into who added your content to their shelves.
        p 
            i.icon.icon-chevron-right 
            | No ads
        a.btn.btn-primary(href="") Upgrade to premium membership