.content
    p
        img(src="img/overview-img-1.jpg", alt="")
    p.bg-light.text-primary.fs-5.text-center.p-3.p-lg-4 $500 grand prize winner. Enter your short story for exposure, fans, and a chance to win.
    p We're excited to announce the Booksie 2024 Short Story Competition. In partnership with WorldMaker Media, we're looking for the most interesting, original stories that will make us laugh, cry, and see the world in a slightly different way. The winner will receive the Booksie 2024 Short Story Award which comes with a cash prize, a gold trophy badge recorded on the blockchain, and the option to have the work published as a Booksie Limited Edition. Everyone wins by receiving exposure and a participation badge.
    h3 All Genres and Themes
    p The contest is open to all genres and themes. You can enter a previously posted story on Booksie or post a new one and enter it. 
    h3 Prizes
    p 
        i.icon.icon-award.me-1 
        | Grand prize winner
    p 
        i.icon.icon-check.me-1 
        | $500 cash award
    p 
        i.icon.icon-check.me-1 
        | Gold winner badge shown on Booksie and encoded on the blockchain as proof.
    p 
        i.icon.icon-check.me-1 
        | A writer option to receive an additional $100 contract from WorldMaker Media to publish the winner as a Booksie Limited Edition.
    p 
        i.icon.icon-star.me-1 
        | Two runners-up 
    p 
        i.icon.icon-check.me-1 
        | $100 cash
    p 
        i.icon.icon-check.me-1 
        | Silver winner badge shown on Booksie and encoded on the blockchain as proof.
    p 
        i.icon.icon-check.me-1 
        | A writer option to receive an additional $50 contract from WorldMaker Media to publish the winner as a Booksie Limited Edition.
    p 
        //- i.icon.icon-check.me-1 
        | All entrants
    p 
        i.icon.icon-check.me-1 
        | Receive a participation badge encoded on the blockchain as proof.
    h3 Cost
    p The cost to enter the contest is $6.99 per entry 
        a(href="") ($3.50 for Premium site members).
    p Any profit Booksie makes after setup-fees, marketing expenses, judge fees, and prize fees will be donated to the literacy non-profit 
        a(href="") Reading is Fundamental. 
    h3 Previous Winners
    include ../sliders/previous-winners-slider
    h3 Frequently Asked Questions
    p Many of the most common questions are answered in our 
        a(href="") contest rules.
    h4 Is there a word limit on contest entries?
    p There is no mimimum limit. The maximum length is 5,000 words.
    h4 Can I enter as many stories as I want?
    p Yes, you can enter an unlimited number of stories.
    h4 Do I have to be a member of Booksie to enter?
    p Yes, you must be a Booksie member but membership is free. If you are not a member, you can easily become one as part of the entry process.
    h4 What are these tropies and badges encoded on the blockchain?
    p The blockchain represents an innovative way to certify information. By encoding trophy badges on the blockchain, winners can point to the entry as definitive proof of their achievement. For those who entered, it provides a fun credential to show participation. We will provide more information on how to use these badges.
    h4 Are you money grubbing vampires who wish to suck the precious dollars out of struggling writers with your contest fees?
    p Notwithstanding all of the snarky comments on Facebook, Booksie makes no money from its contests. We try to make our fees as low as possible to allow everyone to enter. We run them to publicize the site and attract users to the platform. Any profit we might make from a contest after setup and admin fees, marketing expenses, judge fees, and prize fees, will be donated to the literacy non-profit 
        a(href="") Reading is Fundamental.
    h3 Sponsor our Next Contest
    p We're always looking for sponsors so if anyone would like to sponsor a contest so we can offer it free please contact us at contact (at) 
        a(href="") booksie.com.
    h3 About Booksie Contests
    p Booksie is an online writing platform to help writers tell their stories and promote their written work. It is not a publisher and does not take any ownership of the writing posted to the site. Booksie has run writing contests for the last three years. Our sister site, TheNextBigWriter has run writing contests for the last thirteen years. 
        a(href="") Click here to view a list of previous Booksie winners.
    hr.my-5
    .row.g-2.align-items-center.justify-content-between.mb-5
        .col-auto Share This On
        .col-auto
            include ../socials
    .bg-light.rounded.p-3.p-lg-4.p-xl-5.p-xxl-6
        .row.g-2.mb-3.mb-lg-4 
            .col-4.col-sm-3.col-xl-2 Entry cost:
            .col-8.col-sm-9.col-xl-10 $6.99 ($3.50 for 
                a(href="") Premium members)
            .col-4.col-sm-3.col-xl-2 Start:
            .col-8.col-sm-9.col-xl-10 April 23, 2024
            .col-4.col-sm-3.col-xl-2 Deadline:
            .col-8.col-sm-9.col-xl-10 August 31, 2024
            .col-4.col-sm-3.col-xl-2 Prize:
            .col-8.col-sm-9.col-xl-10 Grand prize: $500 cash, a gold contest badge and optional publication. Runner-ups: $100 cash, a silver contest badge, and optional publication.
        p.text-primary Houses where the Contest runs
        p 
            i.icon.icon-chevron-right.me-1 
            a(href="") Booksie Classic
        hr.my-5
        .row.g-2
            .col-auto.flex-fill.flex-sm-grow-0 
                a.btn.btn-outline-primary.w-100(href="") Enter the Contest 
            .col-auto.flex-fill.flex-sm-grow-0 
                a.btn.btn-primary.w-100(href="") Enter writing In Contest
