.content 
    h3 Competition, Rules, and Regulations
    p Booksie 2024 Short Story Contest
    p Official Competition Rules and Regulations
    h3 1. OPEN ONLY TO MEMBERS OF BOOKSIE.
    p Not a member? 
        a(href="") Register free or use the Quick-entry process.
    p Members of Booksie.com may enter the Competition by:
    p 
        i.icon.icon-check.me-1
        |  Submitting the entry using the Contest tab.
    p The challenge of this competition is to post the most original, creative short story. There is no minimum length. The maximum length is 5,000 words.
    p Members may submit as many entries as they like. There is a fee of $6.99 per entry. This covers adminstrative costs, judging fees, marketing, and prize awards. Any profit derived from the contest fees will be donated to the literacy non-profit 
        a(href="") Reading is Fundamental.
    p All work posted to the site by members is the sole responsibility of the submitting person. Entrants are entirely responsible for all content posted or otherwise made available via the site. Sponsor reserves the right to declare any entries determined to not be in accordance with the stated terms of Booksie Member Agreement ineligible for entry.
    h3 2. Winner Selection:
    p There will be 20 finalists who will be chosen approximately six weeks after the submission deadline. Two weeks after the finalists are announced, three winners will be chosen, a grand prize winner, and two runner-ups. Judging will be done by the Booksie and WorldMaker Media editorial staff. The editorial staff will be judging the story based on the following rubric:
    p 
        i.icon.icon-check.me-1
        |  40% - Originality/Creativity - is the concept unique and different from other stories out there? 
    p 
        i.icon.icon-check.me-1
        |  30% - Impact - does the story leave us with a feeling? Is it a story we won't soon forget?
    p 
        i.icon.icon-check.me-1
        |  15% - Writing quality - does the writing flow? Is it free of grammatical mistakes and typos?
    p 
        i.icon.icon-check.me-1
        |  15% - Commercial appeal - Will others like the story? Does it deal with a concept or subject matter that is relevant, topical, or will gain traction if published?
    h3 3. Writing Awards:
    p 
        i.icon.icon-award.me-1 
        | Grand prize winner
    p 
        i.icon.icon-check.me-1 
        | $500 cash award
    p 
        i.icon.icon-check.me-1 
        | Gold winner badge shown on Booksie and encoded on the blockchain as proof.
    p 
        i.icon.icon-check.me-1 
        | A writer option to receive an additional $100 contract from WorldMaker Media to publish the winner as a Booksie Limited Edition.
    p 
        i.icon.icon-star.me-1 
        | Two runners-up 
    p 
        i.icon.icon-check.me-1 
        | $100 cash
    p 
        i.icon.icon-check.me-1 
        | Silver winner badge shown on Booksie and encoded on the blockchain as proof.
    p 
        i.icon.icon-check.me-1 
        | A writer option to receive an additional $50 contract from WorldMaker Media to publish the winner as a Booksie Limited Edition.
    p No more than the stated number of prizes will be awarded. No transfer or substitution of prizes permitted. By accepting a prize, each winner agrees to the release of his/her name, pen name, likeness, and city and state of residence for potential publicity purposes, where permitted by law.
    h3 4. Eligibility:
    p Void where prohibited by law or regulation. Contest is not open to employees and their families (spouses, parents, children/siblings and their respective spouses, and those living in the same household) of theNextBigWriter, LLC, its affiliates, advertising and production agencies. Entrants consent to the use of their registration information in accordance with 
        a(href="") Booksie privacy policy.
        |  All federal, state, and local laws and regulations apply. All rights to any work submitted by Writing Members are retained by the submitting member in accordance with the stated terms of 
        a(href="") Booksie Member Agreement.
        |  Any entries that are currently or have previously been published or protected by a copyright, trademark, or other proprietary right other than the entrant’s may be entered, with the permission of the publisher or copyright holder, only. Entries must be original and conceived and created entirely by the entrant. Sponsor may prohibit any entrant from participating in this Contest or any future promotion offered by the Sponsor, if, in the sole opinion of Booksie such entrant (i) has tampered with the entry process or the operation of the Contest or website, (ii) repeatedly shows a disregard for the rules, or (iii) acts (a) in an unsportsmanlike manner, (b) with an intent to annoy, abuse, threaten, or harass Booksie or any other entrant, or (c) in any other disruptive manner. The Contest may be terminated at any time after its commencement without prior notice; however, if such termination should occur, all prizes will be awarded to winners according to the judgment of the contest judge.
    h3 5. Limitation of Liability:
    p Sponsor is not responsible for typographical errors in any contest-related materials; or for any individual's inability to enter this contest, including but not limited to unavailable network, server, telephone, or other connections; failed software or hardware transmissions; other errors of any kind, whether human, mechanical, or electronic, including lost, late, incomplete, damaged, or misdirected entries; or for any damage to any computer related to or resulting from participation. Sponsor reserves the right to terminate or modify contest if fraud or technical failures compromise the integrity of the contest as determined by Sponsor in its sole discretion. In the event that the contest is terminated, all eligible entries received before termination will be ranked. Entrants agree that the Sponsor, its promotion partners, related companies, agencies, and their respective employees or officers shall not be liable for injury, losses, damages or costs of any kind resulting from participation in this contest or acceptance of or use or misuse of a prize or parts thereof. By entering, participants agree to be bound by these official rules.
    h3 6. Sponsor:
    p TheNextBigWriter, LLC, 41 Cloverdale Road, Newton, MA 02461.
    .row.g-2.my-5.my-lg-6 
        .col-auto 
            a.btn.btn-outline-primary(href="") Enter the Contest
        .col-auto 
            a.btn.btn-primary(href="") Enter writing In Contest
    .row.g-2.align-items-center.justify-content-between
        .col-auto Share This On
        .col-auto
            include ../socials