section.mb-6.mb-lg-9.mt-5.mt-lg-8 
    .container 
        .row.justify-content-center
            .col-12.col-xl-10
                h2.text-center.mb-4 The Self-Publishing Advisor 2024
                p.text-center.md-4.mb-lg-6 Use our digital advisor to find the resources you need to publish your book.
                .bg-light.rounded.p-3.p-sm-4.p-md-5.p-lg-7 
                    .row.justify-content-center
                        .col-12.col-md-10.col-xl-8
                            .carousel.carousel-fade#advisor-carousel 
                                .carousel-inner 
                                    .carousel-item.active 
                                        h3.text-center.mb-4 Are you publishing to make money or as a hobby to show writing to your family and friends?
                                        form()
                                            .row.mb-5.mb-lg-7.justify-content-center
                                                .col-12.col-md-10
                                                    select.form-select(name="money")
                                                        option(value="a. Male money amd achive some fame") a. Male money amd achive some fame
                                                        option(value="b. Male money amd achive some fame") b. Male money amd achive some fame
                                            ul.nav.justify-content-center
                                                li.nav-item.flex-fill.flex-md-grow-0
                                                    button.btn.btn-primary.w-100(type="submit", data-bs-target="#advisor-carousel" data-bs-slide="next") Continue
                                    .carousel-item 
                                        h3.text-center.mb-4 What is the status of the book you want to publish?
                                        form()
                                            .row.mb-5.mb-lg-7.justify-content-center
                                                .col-12.col-md-10
                                                    select.form-select(name="status")
                                                        option(value="a. I am finished writing and editing and am ready to publish it.") a. I am finished writing and editing and am ready to publish it.
                                                        option(value="b. I am finished writing and editing and am ready to publish it.") b. I am finished writing and editing and am ready to publish it.
                                            ul.nav.justify-content-center
                                                li.nav-item.flex-fill.flex-md-grow-0.me-2.me-xl-3
                                                    button.btn.btn-outline-primary.w-100(type="button", data-bs-target="#advisor-carousel" data-bs-slide="prev") Back
                                                li.nav-item.flex-fill.flex-md-grow-0
                                                    button.btn.btn-primary.w-100(type="submit", data-bs-target="#advisor-carousel" data-bs-slide="next") Continue
                                    .carousel-item 
                                        h3.text-center.mb-4 Do you want to publish your book in print, ebook format, or both?
                                        form()
                                            .row.mb-5.mb-lg-7.justify-content-center
                                                .col-12.col-md-10
                                                    select.form-select(name="publish")
                                                        option(value="a. Print") a. Print
                                                        option(value="b. Print") b. Print
                                            ul.nav.justify-content-center
                                                li.nav-item.flex-fill.flex-md-grow-0.me-2.me-xl-3
                                                    button.btn.btn-outline-primary.w-100(type="button", data-bs-target="#advisor-carousel" data-bs-slide="prev") Back
                                                li.nav-item.flex-fill.flex-md-grow-0
                                                    button.btn.btn-primary.w-100(type="submit", data-bs-target="#advisor-carousel" data-bs-slide="next") Continue
                                    .carousel-item 
                                        h3.text-center.mb-4 Do you need help editing your book?
                                        form()
                                            .row.mb-5.mb-lg-7.justify-content-center
                                                .col-12.col-md-10
                                                    select.form-select(name="editing")
                                                        option(value="a. Yes") a. Yes
                                                        option(value="a. Yes") b. No
                                            ul.nav.justify-content-center
                                                li.nav-item.flex-fill.flex-md-grow-0.me-2.me-xl-3
                                                    button.btn.btn-outline-primary.w-100(type="button", data-bs-target="#advisor-carousel" data-bs-slide="prev") Back
                                                li.nav-item.flex-fill.flex-md-grow-0
                                                    button.btn.btn-primary.w-100(type="submit", data-bs-target="#advisor-carousel" data-bs-slide="next") Continue
                                    .carousel-item 
                                        h3.text-center.mb-4 Do you need help laying out and formatting your book for publication?
                                        form()
                                            .row.mb-5.mb-lg-7.justify-content-center
                                                .col-12.col-md-10
                                                    select.form-select(name="formatting")
                                                        option(value="a. Yes") a. Yes
                                                        option(value="a. Yes") b. No
                                            ul.nav.justify-content-center
                                                li.nav-item.flex-fill.flex-md-grow-0.me-2.me-xl-3
                                                    button.btn.btn-outline-primary.w-100(type="button", data-bs-target="#advisor-carousel" data-bs-slide="prev") Back
                                                li.nav-item.flex-fill.flex-md-grow-0
                                                    button.btn.btn-primary.w-100(type="submit", data-bs-target="#advisor-carousel" data-bs-slide="next") Continue
                                    .carousel-item 
                                        h3.text-center.mb-4 Do you need help laying out and formatting your book for publication?
                                        p If need to edit and produce your book and are on a limited budget, consider TheNextBigWriter. TheNextBigWriter is an online writing workshop and community where writers get together to crowdsource feedback on writing. The site works on a point system so in order to receive feedback you’ll have to earn points by providing feedback to other members of the site. TheNextBigWriter has an in-line feedback tool which means you receive detailed feedback on plot, character, grammar, and more.
                                        p And when you are ready to publish, the site’s community has advice on the tools you can use to inexpensively self-publish your writing with minimal expense.
                                        p TheNextBigWriter, one of the oldest online writing workshops and writing communities has helped thousands of writers to finish and publish their books. Many have gone on to become best-sellers.
                                        .row.justify-content-center.mb-4.mb-lg-6.mt-4.mt-lg-5.g-2
                                            .col-auto.flex-fill.flex-md-grow-0
                                                button.btn.btn-outline-primary.w-100(type="button", data-bs-target="#advisor-carousel" data-bs-slide-to="0") Restart Advisor
                                            .col-auto.flex-fill.flex-md-grow-0
                                                a.btn.btn-primary.w-100(href="") Learn more about TheNextBigWriter.
                                        p.text-center We are working on building our publishing advisor. 
                                            a(href="") We welcome your feedback or suggestions.
        .text-center.mt-3.mt-lg-5
            button.carousel-pagination(type="button" data-bs-target="#advisor-carousel" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1") 
            button.carousel-pagination(type="button" data-bs-target="#advisor-carousel" data-bs-slide-to="1" aria-label="Slide 2") 
            button.carousel-pagination(type="button" data-bs-target="#advisor-carousel" data-bs-slide-to="2" aria-label="Slide 3") 
            button.carousel-pagination(type="button" data-bs-target="#advisor-carousel" data-bs-slide-to="3" aria-label="Slide 4") 