extends settings/layout

prepend html
  - const lang = "en";

prepend head
  - const pageTitle = "All Houses";

append head

append content
  include components/header
  include components/houses/all-houses
  include components/new-books
  include components/houses/other
  include components/houses/premium

append scripts