extends settings/layout

prepend html
  - const lang = "en";

prepend head
  - const pageTitle = "Booksie Limited Editions";

append head

append content
  include components/header
  include components/limited-editions/intro
  include components/limited-editions/info
  include components/limited-editions/help
  include components/reviews

append scripts