extends settings/layout

prepend html
  - const lang = "en";

prepend head
  - const pageTitle = "Published Book";

append head

append content
  include components/header
  include components/published-book/published-book


append scripts