extends settings/layout

prepend html
  - const lang = "en";

prepend head
  - const pageTitle = "Sign Up";

append head

append content
  include components/header
  include components/signup
  

append scripts