include ../../mixins/breadcrumbs

section.mb-6.mb-lg-9.mt-4    
    .container 
        +breadcrumbs("Writing Resources")
        .row.justify-content-center 
            .col-12.col-xl-10.col-xxl-8
                h2.mb-3.mb-lg-4 Booksie Writing Resources
                p.mb-4.mb-lg-6.text-secondary.fw-medium We’ve assembled some information and links to help you in your creative writing endeavors. We’ll continue expanding this page over time.
                h3.mb-3 Writing Tools:
                ol 
                    li 
                        a(href="") Publishing Advisor
                        p.my-3.text-secondary A digital advisor who can help you choose the right path in publishing your writing.
                    li 
                        a(href="") Booksie Review of Grammarly free proofreading tool
                hr
                h3.mb-3 Self Publishing:
                a(href="") Self-publishing guide 
                hr
                h3.mb-3 Additional Resources:
                a(href="") Top 100 Writing Sites in 2024
                hr
                h3.mb-3 Writing Contests:
                a(href="") Kindlepreneur - The Best Writing Contests and How to Apply 2024