mixin book-card(href, src, title, author)
    a.card.border-0(href=href)
        .p-3.p-lg-5.card-img.d-flex.align-items-center.justify-content-center.bg-light(style="height: 350px;")
            img.card-img.w-auto(src=src, alt="")
        .card-body.text-center.px-0
            h4.card-title= title
            p.card-text.text-secondary.text-uppercase.small= author