include ../../mixins/breadcrumbs

section.mt-4.mb-6.mb-lg-9 
    .container 
        +breadcrumbs("Booksie Help Guide")
        .row.justify-content-center 
            .col-12.col-xl-10.col-xxl-8 
                h2.mb-4.mb-lg-6 Booksie Help Guide
                h3.mb-3.mb-lg-4 General Information
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none About Us
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Conversion Information for Booksie Members
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Frequently Asked Questions (FAQs)
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none You retain all rights to your work
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none The site's copyright policy
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none The site member agreement
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Premium Membership
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Booksie Legacy
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Contact Us
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Icomment Tool
                hr
                h3.mb-3.mb-lg-4 Posting Content
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Step-by-step instructions on posting content
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Tips on formatting what you post
                hr
                h3.mb-3.mb-lg-4 Houses
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none What are houses and how can I use them?
                hr
                h3.mb-3.mb-lg-4 Features
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Booksie Preview
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Booksie Print
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Booksie Schools
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Booksie Boost
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none BOB AI Review
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Booksie Promote
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Booksie Donate
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Booksie Badges
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Featured Reviews
                hr
                h3.mb-3.mb-lg-4 Limited Editions
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Booksie Limited Editions
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Limited Editions Terms and Conditions
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Limited Editions Purchaser Aggreement
                p.mb-3.mb-lg-4 
                    i.icon.icon-chevron-right.me-1
                    a(href="").text-decoration-none Protect Your Writing with Digital Postmarks