section.mb-6.mb-lg-9 
    .container 
        h3.text-center.text-md-start.mb-4.mb-lg-5 Upgrade to Premium Membership
        .row.g-3 
            .col-12.col-md-6
                .card.h-100 
                    .card-body.flex-fill.p-lg-5 
                        .row.g-2.justify-content-between.align-items-center 
                            .col-auto
                                h4 Monthly Premium Membership
                                .text-secondary Monthly Premium Membership
                            .col-auto
                                span.h3 $
                                |&nbsp;
                                span.h2 9.99
                                |&nbsp;
                                span.text-secondary per month
                    .card-footer.p-lg-5
                        a.btn.btn-primary.w-100(href="") Submit Information
            .col-12.col-md-6
                .card.h-100 
                    .card-body.flex-fill.p-lg-5 
                        .row.g-2.justify-content-between.align-items-center 
                            .col-auto
                                h4 1 Year Membership
                                .text-secondary Billed as one payment of 49.99
                            .col-auto
                                span.h3 $
                                |&nbsp;
                                span.h2 4.17
                                |&nbsp;
                                span.text-secondary per month
                    .card-footer.p-lg-5
                        a.btn.btn-primary.w-100(href="") Submit Information
