include ../../mixins/lazy-video

section.my-6.my-lg-9
    .container 
        .row.justify-content-center 
            .col-12.col-xl-10.col-xxl-8
                .content 
                    h2 Hellp Section
                    h4 Booksie Limited Editions - Bring Ownership Back to Books
                    +lazy-video("QPN5AOz8Fao")
                    h3 Frequently Asked Questions
                    h4 Q. What do you mean we can own a Limited Edition? Don't I own books I purchase on Amazon or other sites?
                    p A. You do not own the books you purchase on the Amazon site. You cannot transfer the book off Amazon to another platform and you cannot sell or bequeath them to anyone else. You are "borrowing" the book from Amazon. If you close your account, or Amazon closes your account, the book is gone. With Booksie Limited Editions, the content you buy is recorded on a third party Blockchain. Booksie does not control this ownership. Anyone fan verify ownership and you can use the Blockchain to transfer the work to someone.
                    h4 Q. How can I make money using Limited Editions?
                    p A. You can choose to release your content as a Limited Edition and promote it to your fans and followers. They then have an opportunity to purchase this special version of your work, a version they can own. For every work you sell, you keep 100% of the proceeds after transaction fees are taken out.
                    h3 Q. How should I price my Limited Edition?
                    p A. Booksie recommends pricing your Limited Edition higher than what you would sell the content for on another site. That's because these are limited in quantity. Think about how limited edition prints, clothing, cars, sell for higher than the regular edition. We would recommend at least doubling the regular price.
                    h4 Q. Why do I have to be a Booksie Premium member to create a Limited Edition?
                    p A. Limited Editions is a premium feature of the site. It costs Booksie money to maintain the system and review the content that is published. Booksie operates as a platform to help writers monetize their work and includes Limited Edition in the premium fee instead of charging a royalty.
                    h4 Q. Does Booksie charge a transaction fee and how is this different from a royalty?
                    p A. Yes, Booksie and its partner Chainletter Labs charges a 20% transaction fee to cover the cost of the credit card transactions and Blockchain minting fees. Anything beyond these fees are 100% provided to the author or publisher. A royalty is an agreement to split the net proceeds of a sale after transaction fees. We do not charge a royalty.
                    h4 Q. Can I delete my work at any time?
                    p A. Yes, you can delete your work from Limited Editions but anything sold will remain out there. Because the purchaser retains ownership of the content, there is no way to delete it or claw it back.
                    h4 Q. Is it easy to publish a Limited Edition?
                    p A. Yes, it's no more difficult than publishing a piece of content on Booksie. We've made it easy for anyone to be able to quickly and easily create and distribute Limited Editions. The video tutorial below shows you how to do it.
                    h4 Q. What formats are accepted as Limited Editions?
                    p A. Right now, only PDF documents are accepted as BLEs. As a Premium member, you can generate a PDF copy of any content posted on Booksie via the More section in your Portfolio. Microsoft Word and Google Docs also have tools to allow you to export your document as a PDF.
                    h4 Q. Can I include illustrations and graphics in my Limited Edition?
                    p A. Yes, absolutely. Make your BLE as illustrative and graphically heavy as you like.
                    h4 Q. Do I retain the right to my work if I publish a Limited Edition?
                    p A. Yes, publishing a Limited Edition does not impact the copyright on the work. If you are a publisher, Limited Editions do not change the copyright status of the content.
                    h4 Q. If I'm a publisher, can I publish a Limited Edition?
                    p A. Yes, although our partner Chainletter Labs has a variety of solution for publishers. Reach out to them to learn more.
                    h4 Q. Are all genres accepted as Limited Editions?
                    p A. If the work can appear on Booksie, you can publish it as a Limited Edition. You must own the copyright or have permission from the copyright holder and the content must adhere to the Booksie Content standards.
                    h4 Q. How do I know how many Limited Editions I've sold?
                    p A. Booksie keeps track of this in your Limited Editions account settings tab. You can see your sales activity and how much you've made. In addition, you can also see this on the WAX Blockchain since every transaction is recorded there. This is why you don't need to trust us to know your sales.
                    h3 Limeted Edition Video How-tos
                    h4 Booksie Limited Editions Platform Tour
                    +lazy-video("QPN5AOz8Fao")
                    h4 How to Purchase a Limited Edition on Booksie
                    +lazy-video("QPN5AOz8Fao")
                    h4 How Booksie Limited Editions Use the Blockchain to Help Authors
                    +lazy-video("QPN5AOz8Fao")