section.bg-light.py-6.py-lg-9 
    .container 
        .row.justify-content-center 
            .col-12.col-xl-10.col-xxl-8
                .content 
                    h3 Make Your Writing Collectible
                    p Booksie is excited to announce Booksie LimIted Editions (BLEs)< a new way for authors to promote their writing and for readers to collect the digital work of emerging authors.
                    p 
                        a.btn.btn-primary(href="#") 
                            i.icon.icon-link.me-1
                            |  Access Booksie Limited Editions
                    h3 Benefits for Authors:
                    p Connect more deeply with fans and attract new ones by creating a collectible digital version of your book, short story, article, or more.
                    p Attract attention to your writing by having BLEs as another item to promote across social and your website.
                    p Create graphic rich content that is distributed as a PDF.
                    p Gain additional exposure as Booksie features BLEs across its website and social channels.
                    p Earn money from each BLE sold and track sales in real-time.
                    p ** Early authors who participate in this program will receive access to additional exposure across the Booksie site and participate in our PR program.
                    h3 Trends in Braided Wig Length
                    p Length is a key factor in choosing the right braided wig, as it significantly impacts the overall style and appearance. The current trend in braided wig length is leaning towards the extremes—either very long or very short. Long braided wigs, often extending to the waist or beyond, are popular for their dramatic effect. These wigs create a striking look and offer the flexibility to style the braids in various ways, such as high ponytails, buns, or elaborate updos.
                    p On the other hand, short braided wigs are gaining traction among those who prefer a more manageable and casual look. These wigs usually fall just above the shoulders and are ideal for everyday wear. Short braided wigs are easy to maintain and offer a chic, modern appearance without the weight and length of longer wigs.
                    p Medium-length braided wigs remain a classic choice for those who want a balanced look. These wigs offer the best of both worlds—long enough to style in different ways but short enough to be practical for daily wear. Medium-length wigs are particularly popular for those new to wearing braided wigs, as they offer versatility without being overwhelming.
                    h3 Benefits for Readers/Collectors
                    p Collect and own a copy of the writing of emerging authors before they are better recognized.
                    p Support the work of authors you like and help them towards their goals.
                    p Own a copy of their writing which you can sell to others, transfer, and bequeath to your heirs.
                    p Dip your toe into blockchain collecting.
                    h3 Limited Edition Publishing Comes with Booksie Premium
                    p Booksie Premium members are able to apply to publish 2 Limited Editions per month. All Limited Editions are reviewed to ensure they conform to the Booksie Terms and Conditions. To start publishing, 
                        a(href="#") go to your homepage
                        |  , and click the Collect / Create Limited Editions button. Once you have published your Limited Edition, you can add it to your Booksie bookstore and promote it across social media.
                    h3 All Booksie Members can start collecting their favorite authors
                    p All members of Booksie can access the Limited Editions platform to begin collecting the work of their favorite authors. To visit the site, 
                        a(href="") go to your homepage
                        |  and click the Collect / Create Limited Editions button.
                    hr
                    .row.align-items-center.justify-content-center.g-3 
                        .col-12.col-md-4.text-center 
                            img(src="img/limited-img-1.jpg", alt="")
                        .col-12.col-md-8.text-center
                            a.btn.btn-primary(href="#")
                                i.icon.icon-link.me-2 
                                | Collect a Limeted Edition of State of Vengeance
                            p.my-3 Only 100 copies avalible
                            a.btn.btn-primary(href="#")
                                i.icon.icon-link.me-2 
                                | Collect a Limeted Edition of State of Vengeance
