include ../../mixins/breadcrumbs
include ../../mixins/houses-navigation

section.mb-6.mb-lg-9
    .container
        +breadcrumbs("House guide")
        h2.text-center.text-md-start.mb-4.md-lg-6 What Are Houses and How You Can Use Them
        +houses-navigation([
            {href: "my-houses.html", text: "My Houses", active: false},
            {href: "all-houses.html", text: "All Houses", active: false},
            {href: "create-house.html", text: "Create House", active: false},
            {href: "house-guide.html", text: "House Guide", active: true},
            ]
            )
        .row.justify-content-center
            .col-12.col-xl-10.col-xxl-8 
                p Houses are a unique way to organize the content published on the site and to create communities. With Houses, you can join with your friends to create your very own publishing community with all of the features of the main Booksie publishing site. It's free to create a House. And once you create one, you can see how many other people you can attract to your House. Using Houses, you can organize content however you want, and you can create a community around that content. Houses with the most members and content will be featured on the Booksie homepage and across the site. We're excited to see who can create the most popular Houses!
                p You must be a 
                    a(href="") Premium member
                    |  to start a House. Once a House has over 50 members and remains active (a forum post in the past 3 months), the House founder or the designated leader of the House will receive free Premium Membership. As Houses meet other milestones and remain active, their founders or designated owners are eligible to receive other rewards.
                h3 Each House has the following features:
                p Braided wigs have surged in popularity due to their practicality and aesthetic appeal. Originally, wigs were seen as a solution for hair loss or thinning, but today, they are a fashion statement in their own right. With the busy lives that many people lead, spending hours in a stylist’s chair for traditional braids can be challenging. 
                    a(href="") Braided wigs
                    |  offer a quick and effective alternative, allowing people to change their look in minutes. These wigs are crafted to mimic natural braids, giving the appearance of freshly done hair without the time commitment.
                p The versatility of braided wigs also plays a role in their popularity. Whether you prefer short, long, or medium-length hair, there is a braided wig that suits your preference. Moreover, these wigs come in a variety of braid styles, from box braids to cornrows, catering to different tastes and cultural expressions.
                h6 
                    i.icon.icon-check.me-1
                    | A Founder.
                p The Founder of a House is the person who first created it.
                h6 
                    i.icon.icon-check.me-1
                    | Moderators.
                p Moderators can accept new members into the House, delete forum posts that are deemed inappropriate, delete content that is deemed inappropriate and, remove members. They have the power to effectively run the House. Houses can have multiple moderators.
                h6 
                    i.icon.icon-check.me-1
                    | Homepage.
                p Every House has its own homepage with its own url. Members can access the site directly from this url, or from their homepages, or House pages. The homepage shows recent group activity.
                h6 
                    i.icon.icon-check.me-1
                    | Forum.
                p Each House has its own messaging forum. Members can meet, discuss, share, and post information in the message forum.
                h6 
                    i.icon.icon-check.me-1
                    | Content.
                p Each House has its own content pages where content posted to that group appears.
                h6 
                    i.icon.icon-check.me-1
                    | Members.
                p Each House has its own list of members.
                h3 Every member can join up to 5 Houses created by others.
                p When you post content to the site, you must decide in which House to put the content. If you are unsure of where to place it, put it into the Booksie House. Note that putting content in a House does not give that House ownership of your writing. It is simply a way to organize your writing. You always retain the rights and ownership of your writing on Booksie and you can move it into a different House or even from the site at any time.
                h3 How to Create a House
                p To create a House, 
                    a(href="") become a Premium Member
                    |  and then go to our Create Houses page, under the main Houses Menu
                div 
                    a.btn.btn-primary(href="") Create a new House