#create-house-modal.modal.fade(tabindex="-1", aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header.border-0
                h4.modal-title Premium Feature
                button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
            .modal-body
                div You must be a premium member to create a publishing house.
            .modal-footer.border-0
                button.btn.btn-orange.w-100(type="button") Upgrade to Premium Membership
                    i.icon.icon-stop.ms-1
                button.btn.btn-outline-primary.w-100(type="button") Learm about Pemium Membership