.my-5
	.card.p-3
		.row.gy-3
			.col-12.col-md-2.col-xl-3.text-center
				img.img-fluid.rounded.w-100(src="img/review-chain-image.jpg", alt="")
			.col-auto
				table.table.table-borderless.mb-0
					tbody
						tr
							td(scope="row") Members:
							td 
								.text-secondary 1,381
						tr
							td(scope="row") Category:
							td 
								a(href="#") Writing Critique Groups
						tr
							td(scope="row") Founder:
							td 
								a(href="#") Archia
						tr
							td(scope="row") House address:
							td 
								a(href="#", target="_blank") https://www.booksie.com
						tr
							td(scope="row") Access:
							td 
								.text-secondary Public
						tr(class="align-middle") 
							td Share: 
							td
								ul.nav
									li.nav-item.m-1
										a(href="#")
											img(src="img/home-icon-1.png", alt="")
									li.nav-item.m-1
										a(href="#")
											img(src="img/home-icon-2.png", alt="")
									li.nav-item.m-1
										a(href="#")
											img(src="img/home-icon-3.png", alt="")
			.col-12.col-sm-auto.ms-sm-auto
				button.btn.btn-primary.w-100 Apply
.my-4 
	.alert.alert-info.d-flex.align-items-start
		svg.bi.bi-info-circle.mt-1.me-1.text-primary(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
			path(d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16')
			path(d='m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0')
		.flex-grow-1
			| Public house! You don't need need moderator's permission to become a member.
			br
			a(href="#", class="d-inline-block mt-1") First you need to sign in
