.my-5
    .container
        h2.mb-5 New House Postings
        include ../sliders/new-postings-slider
        .mt-4
            .row.justify-content-end.g-2 
                .col-auto
                    a.btn.btn-outline-primary(href="") View All Members
                .col-auto
                    a.btn.btn-outline-primary(href="") Join This House