include ../../mixins/section
include ../../mixins/section-title

+section 
    +section-title("Boosted Content from Premium Members")
    include ../sliders/boosted-premium-slider
    .text-center.mt-5 
        a.btn.btn-outline-primary(href="") How to Boost your writing