include ../../mixins/breadcrumbs

section.mb-6.mb-lg-9 
    .container 
        .row.justify-content-center
            .col-12.col-xl-10.col-xxl-8
                .content
                    +breadcrumbs("What are Houses")
                    h2.text-center.mb-3.mb-lg-4 Welcome to Booksie Premium!
                    p.text-center.text-secondary.mb-4.mb-lg-6 Hi, welcome to Booksie Premium. This guide will provide you with information on how to take advantage of the various features that come with your Premium account. If you have any questions, please feel free to reach out to us at 
                        a(href="mailto:") contact@booksie.com.
                    p.text-primary.mb-3.mb-lg-4.h6 Features:
                    h3 Premium Boost Spot
                    p.text-center
                        img(src="img/booksie-premium-img-1.jpg", alt="")
                    h4 What it does:
                    p The Premium Boost spot is designed to showcase the work of Premium members across the site. There are sections on the public homepage, the logged in homepage, at the bottom of posted content, and at the top of the Read pages. In addition, boosted work is cycled through and shown on 
                        a(href="") several special pages
                        |  that have been created and promoted across sites like Facebook and Instagram.
                    h4 How to Select work for the Premium Boost:
                    p The very first work featured in your 
                        a(href="") Portfolio
                        |  what will be chosen to be boosted. You can change the order by dragging and dropping the items in your portfolio (this can only be done via a desktop or laptop computer). You can also read more information about generic Boosts are well as Premium Boosts. 
                        a(href="") More information on Boosts.
                    hr
                    h3 BOB AI Reviewer
                    p.text-center
                        img(src="img/booksie-premium-img-2.jpg", alt="")
                    h4 What it does:
                    p BOB (Booksie Online Bot) is an AI-powered review of any piece of content you wish to have feedback on. The AI has been optimized for creative writing and can provide you with an idea of how compelling your books, short stories, poems, articles and more are as well as providing concrete steps you can take to make it better. Premium members receive five AI reviews per month.
                    h4 How to do a BOB AI Review:
                    p In your 
                        a(href="") portfolio, click the AI Review button that corresponds to the content you want reviewed. In seconds, BOB will get to work reading and providing feedback on your content.
                    hr
                    h3 Discounts on Contest Entries, Pro Reviews and More
                    p.text-center
                        img(src="img/booksie-premium-img-3.jpg", alt="")
                    h4 What it does:
                    p Premium Membership provides 15% discounts on all contest entry fees and 20% discount on Pro Reviewer services.
                    h4 How to get discounts:
                    p Once you become a Premium Member, the discount will automatically be included whenever you enter a contest on Booksie or purchase a Pro Review.
                    hr 
                    h3 Display your books in the Booksie Bookstore.
                    p.text-center
                        img(src="img/booksie-premium-img-4.jpg", alt="")
                    hr
                    h3 Promote Your Published Books Using Booksie Preview
                    p.text-center
                        img(src="img/booksie-premium-img-5.jpg", alt="")
                    h4 What it does:
                    p You published a book using Amazon or some other publishing service and now want to promote it on your Booksie pages. BooksieLink allows you to place ads for your book(s) on your content page, in the Booksie bookstore, and on your profile. 
                        a(href="") Read more information about the program.
                    h4 How add a book:
                    p To add your published book to your pages across Booksie and the bookstore, 
                        a(href="") please follow these directions.
                        |  Note that although we use Amazon as an example, you can promote books that can be purchased anywhere, including B&N, Smashwords, or your own website.
                    hr
                    h3 Detailed Reader Stats
                    p.text-center
                        img(src="img/booksie-premium-img-6.jpg", alt="")
                    h4 What it does:
                    p Provides information on your visitors including read and reader trends, information on where your visitors come from, and data on what they have read. There are also stats on how many people have visited your profile page.
                    h4 How to access Booksie Premium Stats:
                    p There are several ways to access stats. On your logged in homepage, you can click the See more stats link under your reads counter. Or, you can click the blue Stats option from the blue menu bar on your homepage. 
                        a(href="") Or, you can simply click this link.
                    hr
                    h3 BoB - Booksie Bot Online Writing and Publishing Coach
                    p.text-center
                        img(src="img/booksie-premium-img-7.jpg", alt="")
                    h4 What it does:
                    p An AI powered Bot that provides you with advice on writing, publishing, and using Booksie. You can ask it an unlimited number of questions.
                    h4 How to access Booksie Bot:
                    p On your personal, logged-in homepage, you’ll see BoB in the bottom, right-hand corner. Just click on BoB’s avatar to start a conversation. Ask BoB anything you want but realize it is designed to answer your writing and publishing questions.
                    hr
                    h3 Booksie Donate - Receive Donations via PayPal
                    p.text-center
                        img(src="img/booksie-premium-img-8.jpg", alt="")
                    h4 What it does:
                    p Booksie Donate allows you to receive donations via PayPal from your readers and fans. All payments go directly into your PayPal account and you receive 100% of the donated amount. Donate buttons are put on your content as well as your profile. 
                        a(href="") Learn more about Booksie Donate.
                    h4 How to install Booksie Donate:
                    p To add Booksie Donate, go to your 
                        a(href="") Profile,
                        |  and scroll down to the Donation Center. Once there, 
                        a(href="") follow these instructions
                        |  to connect your PayPal account. Don’t have a PayPal account? They are free to set up.
                    hr
                    h3 Data on how many people visited your profile
                    p.text-center
                        img(src="img/booksie-premium-img-9.jpg", alt="")
                    hr
                    h3 Insight into Who Shelved Your Content
                    p.text-center
                        img(src="img/booksie-premium-img-10.jpg", alt="")
                    h4 What it does:
                    p You can see who has Shelved your content.
                    h4 How to see:
                    p On your homepage, click the Shelves link found in the Notifications bar. It will light up and indicate when one of your pieces of content has been Shelved.
                    hr
                    h3 Generate Different Formats of your Content
                    p.text-center
                        img(src="img/booksie-premium-img-11.jpg", alt="")
                    h4 What it does:
                    p As a Premium member, you can convert the content you’ve uploaded to Booksie into several different formats to download - .html, .pdf, .ebook. These different formats can be used to print your book, upload it to Amazon or a different site, or send it to a friend or store on your hard drive.
                    h4 How to generate these formats:
                    p Go to your 
                        a(href="") Portfolio,
                        |  click the More button, and then choose the format you would like to generate and download.
                    h4 Generation of an .epub version of your book that can be loaded to Amazon or read on a mobile device
                    p.text-center
                        img(src="img/booksie-premium-img-12.jpg", alt="")
                    h4 The ability to create a print-friendly format for your book
                    p.text-center
                        img(src="img/booksie-premium-img-13.jpg", alt="")
                    hr
                    h3 Upload Audio Versions of Your Writing
                    p.text-center
                        img(src="img/booksie-premium-img-14.jpg", alt="")
                    h4 What it does:
                    p You can upload audio versions of your work to Booksie either as standalone or as a complement to written content. Some users have uploaded original songs. Be creative and have fun with it. 
                        a(href="") See what we’ve done!
                    h4 How to upload audio:
                    p For new writing:
                    ol 
                        li 
                            a(href="") Go to your Portfolio 
                        li Click the Add New Content button
                        li Fill out the Basic Information and Cover sections
                        li On the Content section, insert any written content you want to include and then scroll down until you see the green Add Audio File button. Click and then follow the steps to upload your audio file
                        li Click the Update Changes button at the bottom
                    p For existing writing:
                    ol 
                        li 
                            a(href="") Go to your Portfolio 
                        li Click on the work you want to add audio to
                        li Go to the Content section
                        li On the Content section, scroll down until you see the green Add Audio File button. Click and then follow the steps to upload your audio file.
                        li Click the Update Changes button at the bottom
                    hr
                    h3 An ad-free experience
                    p.text-center
                        img(src="img/booksie-premium-img-15.jpg", alt="")
                    hr
                    h3 Choose which Reader Reviews to Feature
                    p.text-center
                        img(src="img/booksie-premium-img-16.jpg", alt="")
                    h4 What it does:
                    p This allows you to choose feature reviews given to you by readers at the top of your content. 
                        a(href="") Read more about Featured Reviews.
                    h4 How to feature a review:
                    p 
                        a(href="") Read the article on Featured Reviews to learn more.
                    hr
                    h3 Assign a Beneficiary to Your Account
                    p.text-center
                        img(src="img/booksie-premium-img-17.jpg", alt="")
                    h4 What it does:
                    p Your writing is an asset that can be passed down from generation to generation. Beneficiaries allow you to specify who should have access to your writing and content should something unfortunate happen to you. The Beneficiary form facilitates this process.
                    h4 How to designate a Beneficiary:
                    p Go to the 
                        a(href="") Beneficiary page
                        |  and fill in the form. As long as you are a Premium member, the data will be retained. Those interested in ensuring this information is passed along can sign up for the 
                        a(href="") Booksie Legacy program.
                    hr
                    h3 Create Your Own Writing House
                    p.text-center
                        img(src="img/booksie-premium-img-18.jpg", alt="")
                    h4 What it does:
                    p Premium Members have the ability to create one House. A House is a writing community which can be centered around your book, an idea, a writing topic, or more. 
                        a(href="") View some of the Houses
                        |  others have created. Once your House reached 50 members and is active, you’ll receive free Premium membership
                    h4 How to create a House:
                    p To create a House, go to 
                        a(href="") House page
                        |  and click the Create House button. A created House is a separate micro-site within Booksie and allows users to post there and chat in a built-in forum. You will also have moderator ability. You can also make a House private or invite only. More information on creating a House.
                        a(href="") Here are some tips for building your Booksie House.
                    hr
                    p.text-center 
                        a.btn.btn-primary(href="") Upgrade Now
                    p.text-center Premium Membership is as low as $4/month.