section.mt-5.mt-lg-8.mb-6.mb-lg-9 
    .container 
        h2.text-center.mb-3 Select Membership
        p.text-secondary.mb-4.mb-lg-6.text-center Choose from the options below to continue your registration:
        .row.g-3 
            .col-12.col-md-6
                .card.h-100 
                    .card-header.p-xl-5 
                        .d-flex.align-items-center.justify-content-between.mb-2
                            div.border.rounded.p-2.lh-1.bg-white 
                                svg(width="20", height="20", viewBox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M1.66797 12.0833L9.70316 16.1009C9.81248 16.1556 9.86714 16.1829 9.92447 16.1937C9.97525 16.2032 10.0274 16.2032 10.0781 16.1937C10.1355 16.1829 10.1901 16.1556 10.2994 16.1009L18.3346 12.0833M1.66797 7.91668L9.70316 3.89908C9.81248 3.84443 9.86714 3.8171 9.92447 3.80634C9.97525 3.79681 10.0274 3.79681 10.0781 3.80634C10.1355 3.8171 10.1901 3.84443 10.2994 3.89908L18.3346 7.91668L10.2994 11.9343C10.1901 11.9889 10.1355 12.0163 10.0781 12.027C10.0274 12.0365 9.97525 12.0365 9.92447 12.027C9.86714 12.0163 9.81248 11.9889 9.70316 11.9343L1.66797 7.91668Z", stroke="#276CDA", stroke-width="1.66667", stroke-linecap="round", stroke-linejoin="round")
                        h4.card-title Great from casual writers and collectors
                        p.card-text.text-secondary Basic Membership
                    .card-body.p-xl-5 
                        h6.text-uppercase FEATURES
                        p.text-secondary.small.mb-lg-4 Everything in our Basic plan plus....
                        ul.p-0.m-0 
                            li.list-group-item.h6.mb-2.mb-lg-3
                                i.icon.icon-check.me-1 
                                | Free, unlimited publishing.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | A member writing site.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | Private messaging.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | Entry into 5 Houses.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | Fan tracking.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | Basic Statistics.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | A virtual bookshelf.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | Collect Booksie Limited Editions.
                    .card-footer.p-xl-5
                        a.btn.btn-primary.w-100.text-center.text-uppercase(href="") Free  BASIC MEMBERSHIP
            .col-12.col-md-6
                .card.bg-light 
                    .card-header.p-xl-5 
                        .d-flex.align-items-center.justify-content-between.mb-2
                            .border.rounded.p-2.lh-1.bg-white 
                                svg(width="20", height="20", viewBox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    g(clip-path="url(#clip0_522_6454)")
                                        path(d="M1.66797 9.99997L9.70316 14.0176C9.81248 14.0722 9.86714 14.0996 9.92447 14.1103C9.97525 14.1198 10.0274 14.1198 10.0781 14.1103C10.1355 14.0996 10.1901 14.0722 10.2994 14.0176L18.3346 9.99997M1.66797 14.1666L9.70316 18.1842C9.81248 18.2389 9.86714 18.2662 9.92447 18.277C9.97525 18.2865 10.0274 18.2865 10.0781 18.277C10.1355 18.2662 10.1901 18.2389 10.2994 18.1842L18.3346 14.1666M1.66797 5.83331L9.70316 1.81571C9.81248 1.76105 9.86714 1.73372 9.92447 1.72297C9.97525 1.71344 10.0274 1.71344 10.0781 1.72297C10.1355 1.73372 10.1901 1.76105 10.2994 1.81571L18.3346 5.83331L10.2994 9.8509C10.1901 9.90556 10.1355 9.93289 10.0781 9.94365C10.0274 9.95317 9.97525 9.95317 9.92447 9.94365C9.86714 9.93289 9.81248 9.90556 9.70316 9.8509L1.66797 5.83331Z", stroke="#276CDA", stroke-width="1.66667", stroke-linecap="round", stroke-linejoin="round")
                                    defs
                                        clippath(id="clip0_522_6454")
                                            rect(width="20", height="20", fill="white")
                            .border.border-primary.rounded-pill.text-primary.text-uppercase.small.py-1.px-2 Popular
                        h4.card-title Great for writers ready to get more serious about their work
                        p.card-text.text-secondary Premium Mermership Features:
                    .card-body.p-xl-5.h-100 
                        h6.text-uppercase FEATURES
                        p.text-secondary.small.mb-lg-4 Everything in our Basic plan plus....
                        ul.p-0.m-0 
                            li.list-group-item.h6.mb-2.mb-lg-3
                                i.icon.icon-check.me-1 
                                | All the features of Basic Membership and...
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | Have your writing showcased on Premium spots across the site.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | Connect with PayPal to receive cash Donations from your fans and readers.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | Promotion of your Amazon books to your audience via BooksieLink.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | Receive writing feedback and advice from BOB, Booksie's Al tool.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | Access to detailed reader stats.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | Create Booksie Limited Editions and sell to fans and supporters.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | Free access to our audio book system so you can upload audio books.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | Insight into who added your content to their Shelves.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | Free access to the 1-click eBook generator to create formatted Kindle ready copies of your content.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | Free access to the 1-click print generator to create print-ready copies of your content.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | Featured reader reviews of your writing.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | Priority support.
                            li.list-group-item.h6.mb-2.mb-lg-3 
                                i.icon.icon-check.me-1 
                                | No ads.
                    .card-footer.p-xl-5
                        a.btn.btn-primary.w-100.text-center.text-uppercase(href="") pREMIUM MEMBERSHIP
                        .text-secondary.small.text-center.mt-1 Premium Membership starts as low as $4 per month.

