section.mt-5.mt-lg-8.mb-6.mb-lg-9 
    .container 
        .row.justify-content-center 
            .col-12.col-xl-10.col-xxl-8 
                p.text-center.text-primary.mb-3.mb-lg-4 Create Profile
                h2.text-center.mb-3 Tell the Community About Yourself
                p.text-center.text-secondary.mb-4.mb-lg-6 Now it's time to fill out some information about yourself so that others on the site can get to know you. You may add to this or change it at any time.
                form()
                    h3.mb-4.mb-lg-5 Account Info
                    .mb-3 
                        label.form-label.text-uppercase.small(for="account-name") Name
                        input.form-control(type="text", placeholder="Enter your name", name="account-name", id="account-name", required) 
                    .mb-3 
                        label.form-label.text-uppercase.small(for="account-email") Email
                        input.form-control(type="email", placeholder="Enter your email", name="account-email", id="account-email", required) 
                    .mb-3 
                        label.form-label.text-uppercase.small(for="account-password") Password
                        input.form-control(type="password", placeholder="Enter your password", name="account-password", id="account-password", required) 
                    .mb-3
                        label.form-label.text-uppercase.small(for="account-confirm") Confirm Password
                        input.form-control(type="password", placeholder="Confirm password", name="account-confirm", id="account-confirm", required) 
                    hr.my-4.my-lg-5
                    h3.mb-4.mb-lg-5 Account Info
                    .mb-3
                        label.form-label.text-uppercase.small(for="account-birthday") Birthday
                        input.form-control(type="date", name="account-birthday", id="account-birthday", required) 
                        .text-secondary.small.mt-1 Required for compliance purposes.
                    .mb-3
                        label.form-label.text-uppercase.small(for="goals") Writing Goals
                        select.form-select(name="goals", id="goals")
                            option(value="") Choose an Option
                            option(value="Choose an Option") Choose an Option
                    .mb-3
                        label.form-label.text-uppercase.small(for="updates") Updates
                        select.form-select(name="updates", id="updates")
                            option(value="") Choose an Option
                            option(value="Choose an Option") Choose an Option
                        .text-secondary.small.mt-1 I would like to receive updates, newsletter, and offers via email from Booksie
                    hr.my-4.my-lg-5
                    h3.mb-4.mb-lg-5 Additional Profile Information
                    .mb-3
                        label.form-label.text-uppercase.small(for="drop-image") Photo Image
                        .d-flex.g-3
                            .bg-light.p-4.position-relative.d-flex.align-items-center.justify-content-center.me-3#preview-container
                                div#preview-image-container
                                button(type="button", style="top: 5px; right: 5px").btn.btn-primary.p-1.lh-1.position-absolute#preview-remove-image
                                    svg(width="12", height="14", viewBox="0 0 12 14", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M8.33333 3.49996V3.03329C8.33333 2.3799 8.33333 2.0532 8.20617 1.80364C8.09432 1.58411 7.91584 1.40564 7.69632 1.29379C7.44676 1.16663 7.12006 1.16663 6.46667 1.16663H5.53333C4.87994 1.16663 4.55324 1.16663 4.30368 1.29379C4.08416 1.40564 3.90568 1.58411 3.79383 1.80364C3.66667 2.0532 3.66667 2.3799 3.66667 3.03329V3.49996M4.83333 6.70829V9.62496M7.16667 6.70829V9.62496M0.75 3.49996H11.25M10.0833 3.49996V10.0333C10.0833 11.0134 10.0833 11.5034 9.89259 11.8778C9.72482 12.2071 9.4571 12.4748 9.12782 12.6426C8.75347 12.8333 8.26342 12.8333 7.28333 12.8333H4.71667C3.73657 12.8333 3.24653 12.8333 2.87218 12.6426C2.5429 12.4748 2.27518 12.2071 2.10741 11.8778C1.91667 11.5034 1.91667 11.0134 1.91667 10.0333V3.49996", stroke="white", stroke-linecap="round", stroke-linejoin="round")
                            .drop-area.py-3.px-5.border.rounded.text-center#drop-area.position-relative.flex-fill.small 
                                span.btn.btn-outline-secondary.p-2.mb-2 
                                    svg(width="20", height="20", viewBox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M6.66797 13.3333L10.0013 10M10.0013 10L13.3346 13.3333M10.0013 10V17.5M16.668 13.9524C17.6859 13.1117 18.3346 11.8399 18.3346 10.4167C18.3346 7.88536 16.2826 5.83333 13.7513 5.83333C13.5692 5.83333 13.3989 5.73833 13.3064 5.58145C12.2197 3.73736 10.2133 2.5 7.91797 2.5C4.46619 2.5 1.66797 5.29822 1.66797 8.75C1.66797 10.4718 2.36417 12.0309 3.49043 13.1613", stroke="currentColor", stroke-width="1.66667", stroke-linecap="round", stroke-linejoin="round")
                                span.d-block.mb-1
                                    span.text-primary.text-uppercase Click to upload 
                                    | or drag and drop
                                span.d-block SVG, PNG, JPG or GIF (max. 800x400px)
                                input.form-control.position-absolute.opacity-0.start-50(type="file", required, id="drop-image", name="profile-image", style="width:0; height:0; overflow:hidden;")
                    .mb-3
                        label.form-label.text-uppercase.small(for="about-me") About me
                        textarea.form-control(name="about-me", placeholder="About me", id="about-me", required, rows="4")
                    .mb-3 
                        .form-check
                            input#agree.form-check-input(type="checkbox", value="")
                            label.form-check-label(for="agree") I hereby acknowledge that I have the proper rights to upload any images and text added to my profile page. I understand that if I do not have the right, I am personally liable for posting the image on Booksie. Save my login details for next time.
                    .mb-4.mb-lg-5 
                        button.btn.btn-primary.text-uppercase(type="submit") Submit
                    h3.mb-3 Copyright Notice
                    p.mb-0 Booksie works hard to protect the copyright of writers and artists. Do not upload images and content which are not yours or to which you do not have the legal right to use. Upload your own images or images from sites like Unsplash, Pexels, or Pixabay which grant you the right to use the images posted there, royalty free.