.py-6.py-9 
    .container 
        .row.row-cols-lg-5.g-3
            .col-6.col-sm-4.col-md-4
                .card.h-100
                    .card-body
                        img.mb-1(src="img/message-icon.svg", alt="")
                        h5.card-title Perfect
                        p.card-text.text-muted AI &amp; Human feedback
            .col-6.col-sm-4.col-md-4
                .card.h-100
                    .card-body
                        img.mb-1(src="img/publish-icon.svg", alt="")
                        h5.card-title Publish
                        p.card-text.text-muted Worldwide &amp; Limited Editions
            .col-6.col-sm-4.col-md-4
                .card.h-100
                    .card-body
                        img.mb-1(src="img/promote-icon.svg", alt="")
                        h5.card-title Promote
                        p.card-text.text-muted Connect with millions of readers
            .col-6.col-sm-4.col-md-4
                .card.h-100
                    .card-body
                        img.mb-1(src="img/protect-icon.svg", alt="")
                        h5.card-title Protect
                        p.card-text.text-muted Tools to protect your writing
            .col-6.col-sm-4.col-md-4
                .card.h-100
                    .card-body
                        img.mb-1(src="img/profit-icon.svg", alt="")
                        h5.card-title Profit
                        p.card-text.text-muted Multiple ways to earn