include ../../mixins/section-grey
include ../../mixins/section-title

+section-grey
    +section-title("Featured Audio Books")
    include ../sliders/audio-books-slider
    .text-center.mt-5
        a.btn.btn-outline-primary(href="#") Listen More Audio books