include ../../mixins/section
include ../../mixins/section-row-header


+section 
    +section-row-header("Read Our Past Contest Winners", {href: "#", text: "View All Winners"})
    include ../sliders/contest-winners-slider