div 
    .container
        .bg-light.rounded-4.p-3.p-sm-4.p-md-5.p-lg-7
            .row.g-3.align-items-center.justify-content-between
                .col-12.col-md-6.col-xl-5
                    img.rounded-4(src="img/story-contest-img.jpg", alt="")
                .col-12.col-md-6.col-xl-6.mx-xl-auto.text-center.text-md-start
                    h3.mb-4.mb-lg-5 The Booksie 2024 Short Story Contest
                    p.fw-medium $500 grand prize winner. Enter your short story for exposure, fans, and a chance to win, 
                        a(href="") Learn More
                    p.fw-medium
                        span.text-muted Prize: Grand prize:
                        | $500 cash, a gold contest badge and optional publication.
                        span.text-muted Runner-ups:
                        | $100 cash, a silver contest badge, and optional publication.
                    .mt-4.mt-lg-5
                        a.btn.btn-primary(href="") Submit Your Entry