section.dark-bg.py-5.py-lg-6.overflow-hidden
    .container
        .row.g-3.justify-content-between.align-items-center
            .col-12.col-lg-6.col-xl-6.text-center.text-lg-start
                h1.mb-3.mb-lg-4 Tell Your Story
                p.mb-4.mb-lg-3.fs-5 Share Your Novels, Short stories, Poems and more with the world.
                .d-grid.gap-3.col-10.col-md-12.d-md-block.mx-auto.mb-3
                    a.btn.btn-primary.me-md-3.mt-lg-3(href="") Add Your Stories - It&apos;s Free
                    a.btn.btn-outline-light.mt-lg-3(href="") Publish Limited Editions
                a.link-light(href="") Discover New Writing
            .col-12.col-lg-6.col-xl-4
                include ../sliders/featured-reads-slider