include ../../mixins/section-grey
include ../../mixins/section-title

+section-grey
    +section-title("Limited Edition NFT Store", "For Readers")
    include ../sliders/limited-slider
    .text-center.mt-5 
        a.btn.btn-primary See All limited editions