include ../../mixins/breadcrumbs

section.mt-4.mb-6.mb-lg-p 
    .container
        +breadcrumbs("Having Trouble Logging In?")
        .row.justify-content-center 
            .col-12.col-xl-10.col-xxl-6
                h2.text-center.mb-4.mb-lg-6 Having Trouble Logging In?
                ol.mb-0.text-secondary 
                    li.mb-3.mb-lg-4 Be sure you have validated your account. After your registration, you should have received a validation email that you needed to click to fully open your account. If you haven't received the email and followed its instructions your account will not work. Please contact us if you need help validating your account.
                    li.mb-3.mb-lg-4 Make sure you are using the right email address and password to login. If you forget your password, you can reset it 
                        a(href="") here.
                    li.mb-3.mb-lg-4 Clear all of the cookies and temporary files on your browser.
                p.text-center.fs-5 If you still experience problems, please contact us at 
                    a(href="mailto:") contact@booksie.com.