footer.bg-dark.text-white.py-6.py-lg-9
    .container 
        .row.g-3.justify-content-xl-between 
            .col-12.col-md-6.col-lg-3
                p.text-center.text-md-start.mb-5.mb-lg-6
                    a.navbar-brand(href="./index.html")
                        img(src="img/logo-footer.svg", alt="")
                p.text-center.text-md-start BOOKSIE © 2024 | All rights reserved. Terms under which this service is provided to you. Privacy Policy.
            .col-auto.col-md-3.col-xl-auto 
                nav.footer-menu
                    ul.nav.flex-column
                        li.nav-item
                            a.nav-link.link-light(href="./index.html") Home
                        li.nav-item
                            a.nav-link.link-light(href="#") About
                        li.nav-item
                            a.nav-link.link-light(href="./houses.html") Read Houses
                        li.nav-item
                            a.nav-link.link-light(href="#") Members
                        li.nav-item
                            a.nav-link.link-light(href="#") Tags
            .col-auto.col-md-3.col-xl-auto
                nav.footer-menu
                    ul.nav.flex-column
                        li.nav-item
                            a.nav-link.link-light(href="./writing-resources.html") Writing Resources
                        li.nav-item
                            a.nav-link.link-light(href="./top-100.html") Top 100 Love Poems
                        li.nav-item
                            a.nav-link.link-light(href="./help-guide.html") Help Guide
                        li.nav-item
                            a.nav-link.link-light(href="./advisor.html") Publishing Advisor
            .col-12.col-lg-3.col-xl-3
                .row.g-3 
                    .col-6.col-lg-12.col-xl-6
                        a.card.bg-primary.border-primary.text-white.h-100(href="./limited-editions.html", style="--bs-bg-opacity: .4;") 
                            .card-header.border-0
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    g(clip-path="url(#clip0_440_1615)")
                                    path(d="M19.9974 13.3334V28L13.3307 24L6.66406 28V13.3334C6.66406 12.2725 7.08549 11.2551 7.83564 10.5049C8.58578 9.7548 9.6032 9.33337 10.6641 9.33337H15.9974C17.0583 9.33337 18.0757 9.7548 18.8258 10.5049C19.576 11.2551 19.9974 12.2725 19.9974 13.3334Z", stroke="#276CDA", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M14.6641 4H21.3307C22.3916 4 23.409 4.42143 24.1592 5.17157C24.9093 5.92172 25.3307 6.93913 25.3307 8V22.6667", stroke="#276CDA", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                    defs
                                        clippath(id="clip0_440_1615")
                                        rect(width="32", height="32", fill="white")
                            .card-body 
                                p.card-text Booksie Limited Editions
                    .col-6.col-lg-12.col-xl-6
                        a.card.bg-primary.border-primary.text-white.h-100(href="./published-book.html", style="--bs-bg-opacity: .4;") 
                            .card-header.border-0
                                svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M16 8.05601C13.8021 6.08449 10.9525 4.99594 8 5.00001C6.59733 5.00001 5.25067 5.24001 4 5.68268V24.6827C5.28483 24.2294 6.63755 23.9985 8 24C11.0733 24 13.8773 25.156 16 27.056M16 8.05601C18.1978 6.08438 21.0474 4.99581 24 5.00001C25.4027 5.00001 26.7493 5.24001 28 5.68268V24.6827C26.7152 24.2294 25.3624 23.9985 24 24C21.0475 23.9959 18.1979 25.0845 16 27.056M16 8.05601V27.056", stroke="#276CDA", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                            .card-body 
                                p.card-text Promote Your Published Book