header.header
    .container
        nav.navbar.navbar-expand-xl.fw-medium
            a.navbar-brand.me-xl-5.me-xxl-6(href="#")
                img(src="img/logo.png", alt="")
            button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.me-xl-5.me-xxl-6.flex-fill.justify-content-between
                    li.nav-item
                        a.nav-link.active(aria-current="page", href="./index.html") Home
                    li.nav-item
                        a.nav-link(href="./read.html") Read
                    li.nav-item
                        a.nav-link(href="./all-houses.html") Houses
                    li.nav-item
                        a.nav-link(href="./contest.html") Contests
                    //- li.nav-item
                    //-     a.nav-link(href="./shop.html") Shop
                    li.nav-item
                        a.nav-link(href="./bookstore.html") Bookstore
                ul.navbar-nav.me-xl-4.me-xxl-5.align-items-xl-center
                    li.nav-item.me-xl-2.me-xxl-3
                        a.nav-link(href="#")
                            svg(width="20", height="20", viewBox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(d="M9.58333 18.1251C4.875 18.1251 1.04167 14.2917 1.04167 9.58341C1.04167 4.87508 4.875 1.04175 9.58333 1.04175C14.2917 1.04175 18.125 4.87508 18.125 9.58341C18.125 14.2917 14.2917 18.1251 9.58333 18.1251ZM9.58333 2.29175C5.55833 2.29175 2.29167 5.56675 2.29167 9.58341C2.29167 13.6001 5.55833 16.8751 9.58333 16.8751C13.6083 16.8751 16.875 13.6001 16.875 9.58341C16.875 5.56675 13.6083 2.29175 9.58333 2.29175Z", fill="black")
                                path(d="M18.3333 18.9583C18.175 18.9583 18.0167 18.9 17.8917 18.775L16.225 17.1083C15.9833 16.8666 15.9833 16.4666 16.225 16.225C16.4667 15.9833 16.8667 15.9833 17.1083 16.225L18.775 17.8916C19.0167 18.1333 19.0167 18.5333 18.775 18.775C18.65 18.9 18.4917 18.9583 18.3333 18.9583Z", fill="black")
                    li.nav-item
                        a.nav-link.text-decoration-underline(href="#" data-bs-toggle="modal" data-bs-target="#login-modal") Login
                        //- if user authorized
                        li.nav-item.dropdown.mb-2.mb-xl-0
                            a.d-flex.dropdown-toggle.align-items-center.nav-link(href="#", role="button", data-bs-toggle="dropdown", aria-expanded="false") 
                                img.rounded-circle.me-2(src="img/user-ava.jpg", alt="", width="24", height="24")
                                div.small Demi Wikinson
                            ul.dropdown-menu 
                                li
                                    a.dropdown-item(href="") page1
                                li
                                    a.dropdown-item(href="") page2
                        //- end if user authorized
                a.btn.btn-primary.me-3(href="#") Join
                a.btn.btn-dark(href="#") Post Your Writing
include login-modal