header.header.border-bottom.py-1
    .container.header__container
        nav.navbar.navbar-expand-xl
            a.navbar-brand.me-xl-5.me-xxl-6(href="./index.html")
                img(src="img/logo.png", alt="")
            button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.me-xl-5.me-xxl-auto.flex-fill.justify-content-center
                    li.nav-item.me-xxl-5
                        a.nav-link.active(aria-current="page", href="./index.html") Home
                    li.nav-item.me-xxl-5
                        a.nav-link(href="./read.html") Read
                    li.nav-item.me-xxl-5
                        a.nav-link(href="./all-houses.html") Houses
                    li.nav-item.me-xxl-5
                        a.nav-link(href="./contest.html") Contests
                    li.nav-item.me-xxl-5
                        a.nav-link(href="./bookstore.html") Bookstore
                ul.navbar-nav.me-xl-4.me-xxl-5.align-items-xl-center
                    li.nav-item.me-xl-2.me-xxl-3
                        form.nav-link()
                            input.form-control(type="search", name="search", required, placeholder="Search")
                    li.nav-item
                        a.nav-link.text-decoration-underline.text-black(href="#" data-bs-toggle="modal" data-bs-target="#login-modal") Login
                    //- if user authorized
                    //- li.nav-item.dropdown.mb-2.mb-xl-0
                    //-     a.d-flex.dropdown-toggle.align-items-center.nav-link.text-black(href="#", role="button", data-bs-toggle="dropdown", aria-expanded="false") 
                    //-         img.rounded-circle.me-2(src="img/user-ava.jpg", alt="", width="24", height="24")
                    //-         div.small.text-nowrap.overflow-hidden(style="max-width: 70px;text-overflow: ellipsis") Demi Wikinson
                    //-     ul.dropdown-menu 
                    //-         li
                    //-             a.dropdown-item(href="") page1
                    //-         li
                    //-             a.dropdown-item(href="") page2
                    //- end if user authorized
                a.btn.btn-primary.me-3.py-2.px-3(href="#") Join
                a.btn.btn-dark.py-2.px-3.text-nowrap(href="#") Post Your Writing
include login-modal