include ../mixins/section-grey
include ../mixins/section-title

+section-grey
    +section-title("Discover New Books")
    include ./sliders/new-books-slider
    .text-center.mt-5
        a.btn.btn-outline-primary(href="#") Read More eBooks