section.py-6.py-lg-9 
    .container 
        .row.align-items-center.g-3 
            .col-12.col-lg-6 
                h2.text-center All About Booksie
                p.text-center.mb-0 What you should know.
            .col-12.col-lg-6 
                p Booksie is a platform designed for writers aged 13 and older, catering to a diverse audience. You can share a wide variety of content, including short stories, books, poems, articles, essays, and more. Additionally, you can upload songs, audio versions of books, and podcasts. However, adult-oriented content is not allowed on the site.
                p Does it cost anything to use Booksie? Not at all! Publishing and reading on the platform is completely free.
                p Do I retain ownership of my work? Absolutely. You maintain full rights to your work and can do whatever you like with it. For more details, check the 
                    a(href="#", target="_blank") Member Agreement
                    |  , which outlines the rights policy.
                p Can you become famous on Booksie? Why not? Many writers on the platform have achieved significant success. Some have amassed millions of reads, while others have landed publishing contracts and sold tens of thousands of copies of their books (such as 
                    a(href="#", target="_blank") Screaming in the Silence
                    | ). Write what you love, share it, grow your audience, and you just might see your name in lights!
