section.py-6.py-lg-9 
    .container 
        .row.align-items-center.g-3 
            .col-12.col-lg-6 
                h2.text-center Perfect Your Writing
                p.mb-0.text-center Get AI and Human Powered Feedback that will show you 
                    br
                    | how to make your writing better and get it ready for publication.
            .col-12.col-lg-6 
                p 
                    img.rounded-4(src="img/perfect-img.jpg", alt="")
                p BOB (Booksie Online Bot) is an AI-powered review of any piece of content you wish to have feedback on. The AI has been optimized for creative writing and can provide you with an idea of how compelling your books, short stories, poems, articles and more are as well as providing concrete steps you can take to make it better. 
