section.bg-light.py-6.py-lg-9 
    .container 
        .row.align-items-center.g-3 
            .col-12.col-md-6 
                h2.text-center Profit from Your Writing
                p.text-center.mb-0 Collect donations via PayPal or add your published 
                    br
                    | book to the Booksie bookstore.
            .col-12.col-md-6.text-center 
                img(src="img/profit-img.svg", alt="")
