section.bg-light.py-6.py-lg-9 
    .container
            .row.g-3.align-items-center
                .col-12.col-lg-6
                    h2.text-center Promote Your Writing
                    p.text-center.mb-0 Quickly gain exposure via Booksie’s millions of readers, 
                        br
                        | social sharing tools, writing contests, and more.
                .col-12.col-lg-6.text-center.text-lg-start
                    .d-flex.flex-column-reverse.flex-lg-column
                        div
                            h3.mb-4.mb-lg-5 The Booksie 2024 Short Story Contest
                            p.fw-medium $500 grand prize winner. Enter your short story for exposure, fans, and a chance to win, 
                                a(href="") Learn More
                            p.fw-medium Prize: Grand prize: $500 cash, a gold contest badge and optional publication. Runner-ups: $100 cash, a silver contest badge, and optional publication.
                            .my-4.my-lg-5
                                a.btn.btn-primary(href="") Submit Your Entry
                        p
                            img.rounded-4(src="img/story-contest-img-wide.jpg", alt="")