section.bg-dark.py-6.py-lg-9.text-white 
    .container 
        .row.align-items-center.g-3
            .col-12.col-md-6 
                h2.text-center Protect Your Writing
                p.text-center.mb-0 Industry leading tools to protect your writing. Prevent your content from being copied and leverage Booksie’s blockchain-based Postmark tool to protect your ownership.
            .col-12.col-md-6.text-center
                img(src="img/protect-img.png", alt="")
