section.bg-dark.text-white.py-6.py-lg-9 
    .container 
        .row.align-items-center.gx-lg-9 
            .col-12.col-lg-6.col-xl-5.text-center.text-lg-start 
                h2.mb-lg-5 Publish Your Writing
                p.mb-lg-6 Easy tools to publish your writing free to a worldwide audience and create Limited Editions of your work to sell to fans and supporters.
                p
                    img(src="img/publish-img.png", alt="")
            .col-12.col-lg-6.col-xl-7 
                h4.text-center.mb-4 Featured Reads
                .swiper.publish-reads-swiper.overflow-swiper
                    .swiper-wrapper
                        .swiper-slide
                            a.card.border-0.h-100.bg-transparent.text-white(href="")
                                img.card-img-top.card-img-bottom.mx-auto(src="img/featured-reads-book-1.jpg", alt="", style="max-width:145px;")
                                .card-body.text-center
                                    h6.card-title.mb-0 A Day in Algeria 
                        .swiper-slide
                            a.card.border-0.h-100.bg-transparent.text-white(href="")
                                img.card-img-top.card-img-bottom.mx-auto(src="img/featured-reads-book-2.jpg", alt="", style="max-width:145px;")
                                .card-body.text-center
                                    h6.card-title.mb-0 Hatchlet and the Soulbearer&apos;s Honor
                        .swiper-slide
                            a.card.border-0.h-100.bg-transparent.text-white(href="")
                                img.card-img-top.card-img-bottom.mx-auto(src="img/featured-reads-book-3.jpg", alt="", style="max-width:145px;")
                                .card-body.text-center
                                    h6.card-title.mb-0 Hatchlet and the Dreadful Tower
                        .swiper-slide
                            a.card.border-0.h-100.bg-transparent.text-white(href="")
                                img.card-img-top.card-img-bottom.mx-auto(src="img/featured-reads-book-4.jpg", alt="", style="max-width:145px;")
                                .card-body.text-center
                                    h6.card-title.mb-0 On Skinned Knees
                .text-center
                    .btn.btn-outline-light.mx-2.rounded-circle.button-prev.publish-reads-button-prev
                        svg(width="12", height="12", viewBox="0 0 12 12", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M0.5 5.88721H10.5M10.5 5.88721L5.5 0.887207M10.5 5.88721L5.5 10.8872", stroke="currentColor", stroke-width="1.5")
                    .btn.btn-outline-light.mx-2.rounded-circle.button-next.publish-reads-button-next
                        svg(width="12", height="12", viewBox="0 0 12 12", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M0.5 5.88721H10.5M10.5 5.88721L5.5 0.887207M10.5 5.88721L5.5 10.8872", stroke="currentColor", stroke-width="1.5")
                br
                h4.text-center.mb-4 Featured Limited Editions
                .swiper.publish-limited-reads-swiper.overflow-swiper
                    .swiper-wrapper
                        .swiper-slide
                            a.card.border-0.h-100.bg-transparent.text-white(href="")
                                img.card-img-top.card-img-bottom.mx-auto(src="img/featured-reads-book-1.jpg", alt="", style="max-width:145px;")
                                .card-body.text-center
                                    h6.card-title.mb-0 A Day in Algeria 
                        .swiper-slide
                            a.card.border-0.h-100.bg-transparent.text-white(href="")
                                img.card-img-top.card-img-bottom.mx-auto(src="img/featured-reads-book-2.jpg", alt="", style="max-width:145px;")
                                .card-body.text-center
                                    h6.card-title.mb-0 Hatchlet and the Soulbearer&apos;s Honor
                        .swiper-slide
                            a.card.border-0.h-100.bg-transparent.text-white(href="")
                                img.card-img-top.card-img-bottom.mx-auto(src="img/featured-reads-book-3.jpg", alt="", style="max-width:145px;")
                                .card-body.text-center
                                    h6.card-title.mb-0 Hatchlet and the Dreadful Tower
                        .swiper-slide
                            a.card.border-0.h-100.bg-transparent.text-white(href="")
                                img.card-img-top.card-img-bottom.mx-auto(src="img/featured-reads-book-4.jpg", alt="", style="max-width:145px;")
                                .card-body.text-center
                                    h6.card-title.mb-0 On Skinned Knees
                .text-center
                    .btn.btn-outline-light.mx-2.rounded-circle.button-prev.publish-limited-reads-button-prev
                        svg(width="12", height="12", viewBox="0 0 12 12", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M0.5 5.88721H10.5M10.5 5.88721L5.5 0.887207M10.5 5.88721L5.5 10.8872", stroke="currentColor", stroke-width="1.5")
                    .btn.btn-outline-light.mx-2.rounded-circle.button-next.publish-limited-reads-button-next
                        svg(width="12", height="12", viewBox="0 0 12 12", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M0.5 5.88721H10.5M10.5 5.88721L5.5 0.887207M10.5 5.88721L5.5 10.8872", stroke="currentColor", stroke-width="1.5")