// GENERAL PROJECT STYLES

// .row {
//     --bs-gutter-y: 1.5rem
// }
body {
  overflow-x: hidden;
}
@media screen and (min-width: 1220px) {
  .row-xl {
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      display: flex;
      flex-wrap: wrap;
      margin-left: calc(var(--bs-gutter-x)* -.5);
      margin-right: calc(var(--bs-gutter-x)* -.5);
      margin-top: calc(var(--bs-gutter-y)* -1);
  }
}
// .breadcrumb {
//     --bs-breadcrumb-divider: "//"
// }
img {
  max-width: 100%;
  height: auto;
}
.dark-bg {
  background-color: #093885;
  background-image: 
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='150' viewBox='0 0 150 150'%3E%3C!-- Верхняя линия --%3E%3Cline x1='0' y1='0' x2='150' y2='0' stroke='white' stroke-width='2' stroke-opacity='0.1'/%3E%3C!-- Правая линия --%3E%3Cline x1='150' y1='0' x2='150' y2='150' stroke='white' stroke-width='1' stroke-opacity='0.05'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-position: center;
  background-size: 150px 150px;
  color: #fff;
  position: relative;
  .container {
    position: relative;
    z-index: 2;
  }
  &:before {
    content: "";
    display: block;
    width: 629px;
    height: 629px;
    position: absolute;
    background-color: #000;
    filter: blur(250px);
    border-radius: 50%;
    z-index: 1;
    left: 20%;
    top: -20%;
    pointer-events: none;
  }
  &:after {
    content: "";
    display: block;
    width: 850px;
    height: 629px;
    position: absolute;
    background-color: #000;
    filter: blur(250px);
    border-radius: 50%;
    z-index: 1;
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
    pointer-events: none;
  }

}

a.card:not(:hover) {
  text-decoration: none;
}
.label-winner, .label-favorite {
  position: absolute;
  right: 1rem;
  top: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 3rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.label-favorite {
  background-color: #DADADA;
  &:before {
      content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0328 3.27141C10.8375 1.5762 13.1625 1.5762 13.9672 3.27141L15.3579 6.20118C15.6774 6.87435 16.2951 7.34094 17.0096 7.44888L20.1193 7.91869C21.9187 8.19053 22.6371 10.4895 21.3351 11.8091L19.0849 14.0896C18.5679 14.6136 18.332 15.3685 18.454 16.1084L18.9852 19.3285C19.2926 21.1918 17.4116 22.6126 15.8022 21.7329L13.0208 20.2126C12.3817 19.8633 11.6183 19.8633 10.9792 20.2126L8.19776 21.7329C6.58839 22.6126 4.70742 21.1918 5.01479 19.3286L5.54599 16.1084C5.66804 15.3685 5.43211 14.6136 4.91508 14.0896L2.66488 11.8091C1.36287 10.4895 2.08133 8.19053 3.88066 7.91869L6.99037 7.44888C7.70489 7.34094 8.32257 6.87435 8.64211 6.20118L10.0328 3.27141Z' fill='black'/%3E%3C/svg%3E%0A");
  }
}
.label-winner {
  background-color: #FFDB4A;
  &:before {
      content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.16603 2.62103V3.47903C4.13103 3.62703 3.10703 3.80902 2.09503 4.02202C1.90564 4.06215 1.7391 4.17396 1.63026 4.33406C1.52141 4.49416 1.47869 4.69015 1.51103 4.88103C1.7636 6.36505 2.50478 7.72214 3.61685 8.73674C4.72893 9.75134 6.14812 10.3653 7.64903 10.481C8.44808 11.1341 9.38659 11.5946 10.392 11.827C10.2965 12.962 9.91344 14.054 9.27903 15H8.54003C7.50403 15 6.66503 15.84 6.66503 16.875V19.5H5.91503C5.31829 19.5 4.746 19.7371 4.32404 20.159C3.90208 20.581 3.66503 21.1533 3.66503 21.75C3.66503 22.164 4.00103 22.5 4.41503 22.5H19.415C19.6139 22.5 19.8047 22.421 19.9454 22.2804C20.086 22.1397 20.165 21.9489 20.165 21.75C20.165 21.1533 19.928 20.581 19.506 20.159C19.0841 19.7371 18.5118 19.5 17.915 19.5H17.165V16.875C17.165 15.839 16.325 15 15.29 15H14.551C13.9169 14.0539 13.5342 12.962 13.439 11.827C14.4446 11.5943 15.3831 11.1334 16.182 10.48C17.6831 10.3645 19.1025 9.75064 20.2148 8.73603C21.3271 7.72141 22.0684 6.36421 22.321 4.88003C22.3531 4.68916 22.3101 4.4933 22.201 4.3334C22.092 4.1735 21.9254 4.06193 21.736 4.02202C20.719 3.80718 19.6951 3.62608 18.666 3.47903V2.62003C18.6659 2.4371 18.599 2.26052 18.4778 2.1235C18.3567 1.98647 18.1896 1.89846 18.008 1.87603C15.9868 1.62441 13.9519 1.4985 11.915 1.49903C9.85203 1.49903 7.81903 1.62703 5.82203 1.87603C5.64067 1.89869 5.47383 1.9868 5.35285 2.1238C5.23187 2.26079 5.16508 2.43726 5.16503 2.62003L5.16603 2.62103ZM5.16603 5.25003C5.16603 6.44602 5.47803 7.57002 6.02303 8.54402C5.34709 8.24092 4.7427 7.79861 4.24936 7.24599C3.75602 6.69337 3.38483 6.04288 3.16003 5.33702C3.82606 5.20778 4.49489 5.09342 5.16603 4.99402V5.25003ZM18.666 5.25003V4.99402C19.34 5.09402 20.009 5.20802 20.672 5.33702C20.4473 6.04291 20.0761 6.69343 19.5828 7.24605C19.0894 7.79868 18.485 8.24097 17.809 8.54402C18.3726 7.53776 18.6678 6.40338 18.666 5.25003Z' fill='black'/%3E%3C/svg%3E%0A");
  }
}

.featured-reads-swiper {
  // background-color: red;
  .swiper-wrapper {
      flex-direction: row !important;
  }
  .swiper-slide {
      margin-top: 0 !important;
  }
}
.featured-audio-swiper {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}
.limited-slide {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-next, .button-prev {
  --bs-btn-padding-x: 16px;
  --bs-btn-padding-y: 16px;
  svg {
      display: block;
  }
  &.swiper-button-lock {
      display: none;
  }
  &.swiper-button-disabled {
      opacity: 0.5;
      pointer-events: none;
      cursor: default;
  }
}
.swiper-navigation {
  user-select: none;
}
.swiper-navigation:has(.swiper-button-lock) {
  display: none;
}
.button-prev {
  transform: scale(-1, 1);
}
@media screen and (max-width: 991px) {
  .overflow-swiper {
      overflow: visible;
  }
}

.mh-3 {
  min-height: calc(3em * var(--bs-body-line-height));
}
.mh-2 {
  line-height: 1.2;
  min-height: calc(2em * 1.2);
}
.ratio-3x4 {
  aspect-ratio: 180/270;
}
.ratio-3x5 {
  aspect-ratio: 180/300;
}
.book-content {
  max-width: 636px;
  margin-left: auto;
  margin-right: auto;
  p {
      color: #404040
  }
}

.rating {
  --star-size: 20px;
  --star-offset: 1px;

  width: calc(var(--star-size) * 5);
  height: var(--star-size);

  position: relative;
  &:before, &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-repeat: repeat-x;
  }
  &:before {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1.62747L11.9214 6.24697C12.1014 6.67976 12.5084 6.97547 12.9756 7.01293L17.9627 7.41275L14.1631 10.6676C13.8071 10.9725 13.6516 11.451 13.7604 11.9069L14.9212 16.7735L10.6516 14.1656C10.2515 13.9213 9.74845 13.9213 9.34843 14.1656L5.07875 16.7735L6.23961 11.9069C6.34837 11.451 6.19291 10.9725 5.83692 10.6676L2.03726 7.41275L7.02438 7.01293C7.49162 6.97547 7.89863 6.67976 8.07864 6.24697L10 1.62747Z' stroke='%23DADADA' stroke-width='1.25'/%3E%3C/svg%3E%0A");
  }
  &:after {
      width: calc(var(--star-size) * var(--star-rating));
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.42292 1.38746C9.63642 0.874148 10.3636 0.874147 10.5771 1.38746L12.4984 6.00695C12.5884 6.22335 12.7919 6.3712 13.0256 6.38993L18.0127 6.78975C18.5668 6.83417 18.7916 7.52574 18.3693 7.88741L14.5697 11.1422C14.3917 11.2947 14.314 11.5339 14.3683 11.7619L15.5292 16.6285C15.6582 17.1693 15.0699 17.5967 14.5955 17.3069L10.3258 14.699C10.1258 14.5768 9.87423 14.5768 9.67422 14.699L5.40454 17.3069C4.9301 17.5967 4.34182 17.1693 4.47081 16.6285L5.63167 11.7619C5.68605 11.5339 5.60832 11.2947 5.43032 11.1422L1.63066 7.88741C1.20845 7.52574 1.43315 6.83417 1.98731 6.78975L6.97444 6.38993C7.20806 6.3712 7.41156 6.22335 7.50157 6.00695L9.42292 1.38746Z' fill='%23FFDB4A'/%3E%3C/svg%3E%0A");
  }


}

@media screen and (min-width: 992px) {
  .fs-lg-normal {
      font-size: 1em;
  }
}


.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: contain;
  line-height: 1;
}
.icon-reads {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5995 6.66625C9.92828 0.858972 4.121 0.858972 0.449735 6.66625C0.316234 6.8665 0.316234 7.1335 0.449735 7.33375C4.121 13.141 9.92828 13.141 13.5995 7.33375C13.6663 7.1335 13.6663 6.8665 13.5995 6.66625ZM6.99127 10.3375C5.12226 10.3375 3.65375 8.86901 3.65375 7C3.65375 5.13099 5.12226 3.66248 6.99127 3.66248C8.86027 3.66248 10.3288 5.13099 10.3288 7C10.3288 8.86901 8.86028 10.3375 6.99127 10.3375Z' fill='%23929292' /%3E%3Cpath d='M8.3258 6.33256C7.92529 6.33256 7.65829 6.06556 7.65829 5.66506C7.65829 5.46481 7.72504 5.33131 7.85854 5.19781C7.59154 5.06431 7.32454 4.99756 6.99079 4.99756C5.85604 4.99756 4.98828 5.86531 4.98828 7.00007C4.98828 8.13482 5.85604 9.00258 6.99079 9.00258C8.12555 9.00258 8.9933 8.13482 8.9933 7.00007C8.9933 6.66632 8.92655 6.39932 8.79305 6.13231C8.65955 6.26581 8.52605 6.33256 8.3258 6.33256Z' fill='%23929292' /%3E%3C/svg%3E");    
}
.icon-views {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5999 6.66625C9.92867 0.858972 4.1214 0.858972 0.450132 6.66625C0.316631 6.8665 0.316631 7.1335 0.450132 7.33375C4.1214 13.141 9.92867 13.141 13.5999 7.33375C13.6667 7.1335 13.6667 6.8665 13.5999 6.66625ZM6.99166 10.3375C5.12265 10.3375 3.65415 8.86901 3.65415 7C3.65415 5.13099 5.12265 3.66248 6.99166 3.66248C8.86067 3.66248 10.3292 5.13099 10.3292 7C10.3292 8.86901 8.86067 10.3375 6.99166 10.3375Z' fill='%23276CDA'/%3E%3Cpath d='M8.32668 6.3325C7.92618 6.3325 7.65918 6.0655 7.65918 5.665C7.65918 5.46475 7.72593 5.33125 7.85943 5.19775C7.59243 5.06425 7.32543 4.9975 6.99168 4.9975C5.85692 4.9975 4.98917 5.86525 4.98917 7.00001C4.98917 8.13476 5.85692 9.00252 6.99168 9.00252C8.12643 9.00252 8.99418 8.13476 8.99418 7.00001C8.99418 6.66626 8.92743 6.39925 8.79393 6.13225C8.66043 6.26575 8.52693 6.3325 8.32668 6.3325Z' fill='%23276CDA'/%3E%3C/svg%3E%0A");
}
.icon-comments {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_576_2957)'%3E%3Cpath d='M9.79934 0H4.20083C1.88562 0 0.00195312 1.88366 0.00195312 4.19888V7.46468C0.00195312 9.70175 1.76035 11.5357 3.96756 11.6573V13.6037C3.96756 13.8222 4.14578 14 4.36482 14C4.46956 14 4.5687 13.9585 4.64358 13.8836L5.0812 13.446C6.23029 12.2967 7.75845 11.6636 9.38389 11.6636H9.79934C12.1146 11.6636 13.9982 9.77989 13.9982 7.46468V4.19888C13.9982 1.88366 12.1146 0 9.79934 0ZM3.96756 6.76486C3.45297 6.76486 3.03448 6.34637 3.03448 5.83178C3.03448 5.31718 3.45297 4.89869 3.96756 4.89869C4.48216 4.89869 4.90065 5.31718 4.90065 5.83178C4.90065 6.34637 4.48193 6.76486 3.96756 6.76486ZM7.00009 6.76486C6.48549 6.76486 6.067 6.34637 6.067 5.83178C6.067 5.31718 6.48549 4.89869 7.00009 4.89869C7.51468 4.89869 7.93317 5.31718 7.93317 5.83178C7.93317 6.34637 7.51445 6.76486 7.00009 6.76486ZM10.0326 6.76486C9.51802 6.76486 9.09953 6.34637 9.09953 5.83178C9.09953 5.31718 9.51802 4.89869 10.0326 4.89869C10.5472 4.89869 10.9657 5.31718 10.9657 5.83178C10.9657 6.34637 10.547 6.76486 10.0326 6.76486Z' fill='%23929292' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_576_2957'%3E%3Crect width='14' height='14' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.icon-shelves {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.20898 1.74976H1.45898C1.22692 1.74976 1.00436 1.84194 0.840266 2.00604C0.676172 2.17013 0.583984 2.39269 0.583984 2.62476V11.3748C0.583984 11.6068 0.676172 11.8294 0.840266 11.9935C1.00436 12.1576 1.22692 12.2498 1.45898 12.2498H3.20898C3.44105 12.2498 3.66361 12.1576 3.8277 11.9935C3.9918 11.8294 4.08398 11.6068 4.08398 11.3748V2.62476C4.08398 2.39269 3.9918 2.17013 3.8277 2.00604C3.66361 1.84194 3.44105 1.74976 3.20898 1.74976ZM3.20898 10.4998H1.45898C1.38163 10.4998 1.30744 10.469 1.25274 10.4143C1.19805 10.3596 1.16732 10.2854 1.16732 10.2081C1.16732 10.1307 1.19805 10.0565 1.25274 10.0018C1.30744 9.94715 1.38163 9.91642 1.45898 9.91642H3.20898C3.28634 9.91642 3.36053 9.94715 3.41522 10.0018C3.46992 10.0565 3.50065 10.1307 3.50065 10.2081C3.50065 10.2854 3.46992 10.3596 3.41522 10.4143C3.36053 10.469 3.28634 10.4998 3.20898 10.4998ZM3.20898 4.08309H1.45898C1.38163 4.08309 1.30744 4.05236 1.25274 3.99766C1.19805 3.94296 1.16732 3.86878 1.16732 3.79142C1.16732 3.71407 1.19805 3.63988 1.25274 3.58518C1.30744 3.53048 1.38163 3.49976 1.45898 3.49976H3.20898C3.28634 3.49976 3.36053 3.53048 3.41522 3.58518C3.46992 3.63988 3.50065 3.71407 3.50065 3.79142C3.50065 3.86878 3.46992 3.94296 3.41522 3.99766C3.36053 4.05236 3.28634 4.08309 3.20898 4.08309Z' fill='%23929292' /%3E%3Cpath d='M7 1.75H5.25C5.01794 1.75 4.79538 1.84219 4.63128 2.00628C4.46719 2.17038 4.375 2.39294 4.375 2.625V11.375C4.375 11.6071 4.46719 11.8296 4.63128 11.9937C4.79538 12.1578 5.01794 12.25 5.25 12.25H7C7.23206 12.25 7.45462 12.1578 7.61872 11.9937C7.78281 11.8296 7.875 11.6071 7.875 11.375V2.625C7.875 2.39294 7.78281 2.17038 7.61872 2.00628C7.45462 1.84219 7.23206 1.75 7 1.75ZM7 10.5H5.25C5.17265 10.5 5.09846 10.4693 5.04376 10.4146C4.98906 10.3599 4.95833 10.2857 4.95833 10.2083C4.95833 10.131 4.98906 10.0568 5.04376 10.0021C5.09846 9.9474 5.17265 9.91667 5.25 9.91667H7C7.07735 9.91667 7.15154 9.9474 7.20624 10.0021C7.26094 10.0568 7.29167 10.131 7.29167 10.2083C7.29167 10.2857 7.26094 10.3599 7.20624 10.4146C7.15154 10.4693 7.07735 10.5 7 10.5ZM7 4.08333H5.25C5.17265 4.08333 5.09846 4.0526 5.04376 3.99791C4.98906 3.94321 4.95833 3.86902 4.95833 3.79167C4.95833 3.71431 4.98906 3.64013 5.04376 3.58543C5.09846 3.53073 5.17265 3.5 5.25 3.5H7C7.07735 3.5 7.15154 3.53073 7.20624 3.58543C7.26094 3.64013 7.29167 3.71431 7.29167 3.79167C7.29167 3.86902 7.26094 3.94321 7.20624 3.99791C7.15154 4.0526 7.07735 4.08333 7 4.08333Z' fill='%23929292' /%3E%3Cpath d='M13.6801 10.6956L11.4145 2.24365C11.3544 2.01952 11.2077 1.82844 11.0068 1.71243C10.8058 1.59642 10.567 1.56498 10.3429 1.62502L8.65268 2.07798C8.54165 2.1077 8.43756 2.159 8.34636 2.22896C8.25515 2.29891 8.17863 2.38615 8.12116 2.48569C8.06368 2.58523 8.02638 2.69512 8.01138 2.80908C7.99639 2.92304 8.00399 3.03884 8.03376 3.14985L10.2986 11.6018C10.3283 11.7128 10.3796 11.8168 10.4495 11.908C10.5194 11.9992 10.6067 12.0757 10.7062 12.1332C10.8057 12.1906 10.9155 12.228 11.0294 12.243C11.1434 12.258 11.2591 12.2504 11.3701 12.2207L13.0618 11.7677C13.1728 11.738 13.2769 11.6866 13.368 11.6166C13.4592 11.5466 13.5357 11.4593 13.5931 11.3597C13.6505 11.2602 13.6878 11.1503 13.7027 11.0363C13.7176 10.9224 13.71 10.8066 13.6801 10.6956ZM9.25643 4.33169C9.18171 4.35172 9.10208 4.34125 9.03508 4.30258C8.96807 4.26391 8.91917 4.2002 8.89914 4.12548C8.8791 4.05076 8.88957 3.97113 8.92825 3.90413C8.96692 3.83712 9.03062 3.78822 9.10535 3.76819L10.797 3.31523C10.8717 3.29519 10.9514 3.30566 11.0184 3.34434C11.0854 3.38301 11.1343 3.44671 11.1543 3.52144C11.1743 3.59616 11.1639 3.67579 11.1252 3.74279C11.0865 3.8098 11.0228 3.85869 10.9481 3.87873L9.25643 4.33169ZM12.6077 10.0775L10.916 10.5305C10.8413 10.5505 10.7617 10.54 10.6947 10.5014C10.6277 10.4627 10.5788 10.399 10.5587 10.3243C10.5387 10.2495 10.5492 10.1699 10.5878 10.1029C10.6265 10.0359 10.6902 9.98702 10.7649 9.96698L12.4566 9.51431C12.4939 9.50321 12.5331 9.49969 12.5719 9.50399C12.6106 9.50828 12.6481 9.52029 12.6821 9.5393C12.7161 9.55832 12.7459 9.58395 12.7699 9.6147C12.7938 9.64544 12.8114 9.68067 12.8214 9.71831C12.8315 9.75594 12.834 9.79522 12.8287 9.83382C12.8233 9.87241 12.8103 9.90955 12.7904 9.94304C12.7705 9.97652 12.744 10.0057 12.7126 10.0288C12.6813 10.0519 12.6456 10.0684 12.6077 10.0775Z' fill='%23929292' /%3E%3C/svg%3E");
}

.icon-likes {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.37092 10.7917C4.12301 10.7917 3.89259 10.6541 3.80217 10.4231C3.60194 9.91341 3.49943 9.37059 3.50001 8.823C3.50001 7.80216 3.84942 6.86416 4.43451 6.11983C4.52259 6.00783 4.65209 5.93958 4.78451 5.88825C5.06042 5.7815 5.30367 5.58841 5.49151 5.34925C5.94433 4.77154 6.51276 4.2947 7.16042 3.94925C7.58217 3.72525 7.94792 3.39158 8.12467 2.94883C8.24881 2.63864 8.31256 2.3076 8.31251 1.9735V1.60425C8.31251 1.48822 8.3586 1.37694 8.44065 1.29489C8.52269 1.21284 8.63397 1.16675 8.75001 1.16675C9.0981 1.16675 9.43194 1.30503 9.67808 1.55117C9.92422 1.79731 10.0625 2.13115 10.0625 2.47925C10.0625 3.15125 9.91084 3.78766 9.64076 4.35641C9.48559 4.68191 9.70317 5.10425 10.0637 5.10425H11.8872C12.4857 5.10425 13.0218 5.50908 13.0853 6.10466C13.1116 6.35083 13.125 6.6005 13.125 6.85425C13.1274 8.45045 12.582 9.99913 11.5798 11.2415C11.3534 11.5227 11.004 11.6667 10.6435 11.6667H8.30084C8.01909 11.6667 7.73851 11.6212 7.47076 11.5326L5.65426 10.9259C5.38657 10.8369 5.10628 10.7916 4.82417 10.7917H4.37092ZM1.35976 6.2575C1.03829 7.07458 0.873834 7.94496 0.875006 8.823C0.874269 9.51617 0.976496 10.2056 1.17834 10.8687C1.33001 11.3646 1.81126 11.6667 2.32984 11.6667H2.85834C3.11792 11.6667 3.27834 11.3762 3.16342 11.1429C2.80767 10.4214 2.62322 9.62747 2.62442 8.823C2.62442 7.82666 2.90209 6.89508 3.38392 6.10116C3.52684 5.86608 3.36759 5.54175 3.09226 5.54175H2.47917C1.99384 5.54175 1.53826 5.806 1.35976 6.2575Z' fill='%23929292' /%3E%3C/svg%3E");
}
.icon-house {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 14V9.06666C6 8.69329 6 8.5066 6.07266 8.364C6.13658 8.23855 6.23857 8.13657 6.36401 8.07265C6.50661 7.99999 6.6933 7.99999 7.06667 7.99999H8.93333C9.3067 7.99999 9.49339 7.99999 9.63599 8.07265C9.76144 8.13657 9.86342 8.23855 9.92734 8.364C10 8.5066 10 8.69329 10 9.06666V14M7.34513 1.84267L2.82359 5.35942C2.52135 5.5945 2.37022 5.71204 2.26135 5.85924C2.16491 5.98963 2.09307 6.13652 2.04935 6.2927C2 6.46901 2 6.66046 2 7.04337V11.8667C2 12.6134 2 12.9868 2.14532 13.272C2.27316 13.5229 2.47713 13.7268 2.72801 13.8547C3.01323 14 3.3866 14 4.13333 14H11.8667C12.6134 14 12.9868 14 13.272 13.8547C13.5229 13.7268 13.7268 13.5229 13.8547 13.272C14 12.9868 14 12.6134 14 11.8667V7.04337C14 6.66046 14 6.46901 13.9506 6.2927C13.9069 6.13652 13.8351 5.98963 13.7386 5.85924C13.6298 5.71204 13.4787 5.5945 13.1764 5.35942L8.65487 1.84267C8.42065 1.6605 8.30354 1.56941 8.17423 1.5344C8.06013 1.50351 7.93987 1.50351 7.82577 1.5344C7.69646 1.56941 7.57935 1.6605 7.34513 1.84267Z' stroke='%23276CDA' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.icon-check {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 6L9 17L4 12' stroke='%23276CDA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.icon-stop {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z' stroke='white' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.83203 3.83337L12.1654 12.1667' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.btn-orange {
  --bs-btn-bg: #F77E3A;
  --bs-btn-border-color: #F77E3A;
  --bs-btn-hover-bg: #f86d1d;
  --bs-btn-hover-border-color: #f86d1d;
  --bs-btn-active-bg: #f86d1d;
  --bs-btn-active-border-color: #f86d1d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-bg: #F77E3A;
  --bs-btn-disabled-border-color: #F77E3A;

  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-disabled-color: #fff;
}
.card-img-contain {
  width: 100%;
  height: 230px;
  object-fit: contain;
  object-position: center;
}
.content {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
  }
  p {
      margin-bottom: 1.5rem;
  }
  hr {
      margin: 2rem 0;
  }
  @media screen and (min-width: 992px) {
      hr {
          margin: 3rem 0;
      }
      p {
          margin-bottom: 2rem;
      }
  }
}

section:has(.overflow-swiper) {
  overflow: hidden;
}