.row.g-3.mb-5.mb-lg-7 
    .col-12.col-sm-6.col-md-4 
        .card.h-100.border-0 
            img.card-img(src="img/profile-home-img-1.jpg", alt="")
            .card-body.px-0
                h4.card-title Protect Your Writing
                p.card-text Booksie Postmarks use the blockchain to provide an extra layer of protection against humans and A.I. 
            .card-footer.border-0.p-0 
                a.card-link(href="") Read More
    .col-12.col-sm-6.col-md-4 
        .card.h-100.border-0 
            img.card-img(src="img/profile-home-img-2.jpg", alt="")
            .card-body.px-0
                h4.card-title Create Booksie Limited Editions
                p.card-text And collect the writing of others.
            .card-footer.border-0.p-0 
                a.card-link(href="") Read More
    .col-12.col-sm-6.col-md-4 
        .card.h-100.border-0 
            img.card-img(src="img/profile-home-img-3.jpg", alt="")
            .card-body.px-0
                h4.card-title Learn about BOB,
                p.card-text Your new AI assistant and reviewer.
            .card-footer.border-0.p-0 
                a.card-link(href="") Read More
.row.g-3.justify-content-between.mb-5.mb-lg-7  
    .col-12.col-lg-6.col-xl-7.col-xxl-6
        h3.mb-3.mb-lg-5 Booster Content from Booksie Writers
        .swiper.home-profile-booster-swiper 
            .swiper-wrapper 
                .swiper-slide 
                    a.card(href="").border-0 
                        img.card-img(src="img/booster-img-1.jpg", alt="")
                        .card-body.px-0.pb-0.text-center 
                            h6.card-title FLEET FEET FREEby Kenneth Wright
                            p.card-text.text-secondary.text-uppercase.small bOOK BY cRISS sOLO
                .swiper-slide 
                    a.card(href="").border-0 
                        img.card-img(src="img/booster-img-2.jpg", alt="")
                        .card-body.px-0.pb-0.text-center 
                            h6.card-title Show and Tailby Rabdom
                            p.card-text.text-secondary.text-uppercase.small bOOK BY cRISS sOLO
                .swiper-slide 
                    a.card(href="").border-0 
                        img.card-img(src="img/booster-img-3.jpg", alt="")
                        .card-body.px-0.pb-0.text-center 
                            h6.card-title Show and Tailby Rabdom
                            p.card-text.text-secondary.text-uppercase.small bOOK BY cRISS sOLO
    .col-12.col-lg-6.col-xl-5.col-xxl-5
        .bg-light.rounded.p-3.p-sm-4.p-xl-5 
            .row.g-3.align-items-center
                .col-6 
                    h4.mb-0 Premium  Boost
                .col-6 
                    h6.text-primary.mb-0.text-end Boost Your Writing
                .col-6 
                    a.card(href="").border-0.bg-transparent 
                        img.card-img(src="img/premium-boost-img-1.jpg", alt="")
                        .card-body.px-0.pb-0.text-center 
                            h6.card-title Show and Tail by Rabdom
                            p.card-text.text-secondary.text-uppercase.small bOOK BY cRISS sOLO
                .col-6 
                    a.card(href="").border-0.bg-transparent 
                        img.card-img(src="img/premium-boost-img-2.jpg", alt="")
                        .card-body.px-0.pb-0.text-center 
                            h6.card-title Show and Tailby Rabdom
                            p.card-text.text-secondary.text-uppercase.small bOOK BY cRISS sOLO
div.mb-5.mb-lg-7   
    h3.mb-3.mb-lg-5 House & Conversations
    .row.g-3 
        .col-12.col-md-6.col-xl-4
            a.card.h-100.border-0(href="")
                .row.g-3.align-items-center  
                    .col-6
                        img.card-img(src="img/conversations-book-img-1.jpg", alt="")
                    .col-6
                        h4.card-title Booksie CLASSIC
                        p.text-primary.small.text-uppercase New Forum Posts
                        ul.text-primary.small.text-uppercase 
                            li.mb-2 Bug in editor: first line missing (F. Scott Deaver)
                            li.mb-2 Strong language' (JuanMcCarty)
                            li.mb-2 Search for User in Comments (John Grim)
        .col-12.col-md-6.col-xl-4
            a.card.h-100.border-0(href="")
                .row.g-3.align-items-center 
                    .col-6
                        img.card-img(src="img/conversations-book-img-2.jpg", alt="")
                    .col-6
                        h4.card-title Booksie CLASSIC
                        p.text-primary.small.text-uppercase New Forum Posts
                        ul.text-primary.small.text-uppercase 
                            li.mb-2 Bug in editor: first line missing (F. Scott Deaver)
                            li.mb-2 Strong language' (JuanMcCarty)
                            li.mb-2 Search for User in Comments (John Grim)
        .col-12.col-md-6.col-xl-4
            a.card.h-100.border-0(href="")
                .row.g-3.align-items-center 
                    .col-6
                        img.card-img(src="img/conversations-book-img-3.jpg", alt="")
                    .col-6
                        h4.card-title Booksie CLASSIC
                        p.text-primary.small.text-uppercase New Forum Posts
                        ul.text-primary.small.text-uppercase 
                            li.mb-2 Bug in editor: first line missing (F. Scott Deaver)
                            li.mb-2 Strong language' (JuanMcCarty)
                            li.mb-2 Search for User in Comments (John Grim)
div.mb-5.mb-lg-7   
    .row.g-3.justify-content-between.mb-3.mb-lg-5 
        .col-auto 
            h3.mb-0 Promoted Books
        .col-auto 
            h6.text-primary.mb-0 Promote Your Books
    .swiper.promoted-books-swiper 
        .swiper-wrapper 
            .swiper-slide 
                a.card(href="").border-0 
                    img.card-img(src="img/booster-img-1.jpg", alt="")
                    .card-body.px-0.pb-0.text-center 
                        h6.card-title FLEET FEET FREEby Kenneth Wright
                        p.card-text.text-secondary.text-uppercase.small bOOK BY cRISS sOLO
            .swiper-slide 
                a.card(href="").border-0 
                    img.card-img(src="img/booster-img-2.jpg", alt="")
                    .card-body.px-0.pb-0.text-center 
                        h6.card-title Show and Tailby Rabdom
                        p.card-text.text-secondary.text-uppercase.small bOOK BY cRISS sOLO
            .swiper-slide 
                a.card(href="").border-0 
                    img.card-img(src="img/booster-img-3.jpg", alt="")
                    .card-body.px-0.pb-0.text-center 
                        h6.card-title Show and Tailby Rabdom
                        p.card-text.text-secondary.text-uppercase.small bOOK BY cRISS sOLO
            .swiper-slide 
                a.card(href="").border-0 
                    img.card-img(src="img/booster-img-1.jpg", alt="")
                    .card-body.px-0.pb-0.text-center 
                        h6.card-title FLEET FEET FREEby Kenneth Wright
                        p.card-text.text-secondary.text-uppercase.small bOOK BY cRISS sOLO
            .swiper-slide 
                a.card(href="").border-0 
                    img.card-img(src="img/booster-img-2.jpg", alt="")
                    .card-body.px-0.pb-0.text-center 
                        h6.card-title Show and Tailby Rabdom
                        p.card-text.text-secondary.text-uppercase.small bOOK BY cRISS sOLO
            .swiper-slide 
                a.card(href="").border-0 
                    img.card-img(src="img/booster-img-3.jpg", alt="")
                    .card-body.px-0.pb-0.text-center 
                        h6.card-title Show and Tailby Rabdom
                        p.card-text.text-secondary.text-uppercase.small bOOK BY cRISS sOLO
div
    h3.mb-3.mb-lg-5 Contest
    .row.g-3.justify-content-between 
        .col-12.col-md-6.col-xl-5.col-xxl-auto
            .card.h-100.border-0
                .row.g-3.align-items-center  
                    .col-6
                        img.card-img(src="img/conversations-book-img-1.jpg", alt="")
                    .col-6
                        h4.card-title Booksie Short Story
                        p.text-secondary.small.text-uppercase Contest
                        p.text-secondary.small.text-uppercase Prize: 
                            span.text-black Grand prize: $500
                        p.text-secondary Cash, a gold contest badge... optional publication.
                        a.btn.btn-primary.w-100(href="") Enter
        .col-12.col-md-6.col-xl-5.col-xxl-auto
            a.card.h-100.border-0(href="")
                .row.g-3.align-items-center 
                    .col-6
                        img.card-img(src="img/conversations-book-img-3.jpg", alt="")
                    .col-6
                        h4.card-title Booksie CLASSIC
                        p.text-primary.small.text-uppercase New Forum Posts
                        ul.text-primary.small.text-uppercase 
                            li.mb-2 Bug in editor: first line missing (F. Scott Deaver)
                            li.mb-2 Strong language' (JuanMcCarty)
                            li.mb-2 Search for User in Comments (John Grim)