.row.g-3 
    .col-12.col-sm-6.col-lg-4 
        .card.bg-light.border-0.h-100 
            .card-body 
                h3.card-title BOB AI Feedback
                p.text-secondary Get Feedback from Bov, Booksie’s AI
            .card-footer.border-0.pt-0 
                a.btn.btn-primary(href="") Learm More
    .col-12.col-sm-6.col-lg-4 
        .card.bg-light.border-0.h-100 
            .card-body 
                h3.card-title Pro Revies Feedback
                p.text-secondary Get Industry pros to revieq your writting
            .card-footer.border-0.pt-0 
                a.btn.btn-primary(href="") Learm More
    .col-12.col-sm-6.col-lg-4 
        .card.bg-light.border-0.h-100 
            .card-body 
                h3.card-title Order a hardcopy print
                p.text-secondary Poder a hardcopy of your writing to proofread or distribure.