.row.g-3 
    .col-12.col-sm-6.col-lg-4 
        .card.bg-light.border-0.h-100 
            .card-body 
                h3.card-title Publish Limited Editions
                p.text-secondary Create and sell Limited Edititons.
    .col-12.col-sm-6.col-lg-4 
        .card.bg-light.border-0.h-100 
            .card-body 
                h3.card-title Collect Donations  from Fams
                p.text-secondary Get Industry prost to review your writing.
            .card-footer.border-0.pt-0 
                a.btn.btn-primary(href="") Learm More