.row.g-3 
    .col-12.col-sm-6.col-lg-4 
        .card.bg-light.border-0.h-100 
            .card-body 
                h3.card-title Build Your Profile Page
                p.text-secondary Upload your content to Booksie Plublishing
    .col-12.col-sm-6.col-lg-4 
        .card.bg-light.border-0.h-100 
            .card-body 
                h3.card-title Boost Your Writing
                p.text-secondary Get Industry prost to review your writing.
            .card-footer.border-0.pt-0 
                a.btn.btn-primary(href="") Learm More
    .col-12.col-sm-6.col-lg-4 
        .card.bg-light.border-0.h-100 
            .card-body 
                h3.card-title Promote  Published Books and Limited Editions
                //- p.text-secondary Get Industry pros to review tour writing.
    .col-12.col-sm-6.col-lg-4 
        .card.bg-light.border-0.h-100 
            .card-body 
                h3.card-title Enter Contests 
                p.text-secondary Upload your contenf to Booksie Publishing
    .col-12.col-sm-6.col-lg-4 
        .card.bg-light.border-0.h-100 
            .card-body 
                h3.card-title Put Book in Bookstore
                //- p.text-secondary Get Industry pros to review tour writing.
    .col-12.col-sm-6.col-lg-4 
        .card.bg-light.border-0.h-100 
            .card-body 
                h3.card-title Put Book in Bookstore
                p.text-secondary See activity on your activity