.row.g-3 
    .col-12.col-sm-6.col-lg-4 
        .card.bg-light.border-0.h-100 
            .card-body 
                h3.card-title Disable Copy/Paste
                p.text-secondary Upload your content to Booksie Publishing
    .col-12.col-sm-6.col-lg-4 
        .card.bg-light.border-0.h-100 
            .card-body 
                h3.card-title Protest your copyright
                p.text-secondary Get Industry prost to review your writing.
            .card-footer.border-0.pt-0 
                a.btn.btn-primary(href="") Learm More
    .col-12.col-sm-6.col-lg-4 
        .card.bg-light.border-0.h-100 
            .card-body 
                h3.card-title Assing a Beneficiary
                p.text-secondary Get Industry prost to review your writing.
            .card-footer.border-0.pt-0 
                a.btn.btn-primary(href="") Learm More