.row.g-3 
    .col-12.col-sm-6.col-lg-4 
        .card.bg-light.border-0.h-100 
            .card-body 
                h3.card-title Post on Booksie
                p.text-secondary Opload your content to Booksie Publishing
    .col-12.col-sm-6.col-lg-4 
        .card.bg-light.border-0.h-100 
            .card-body 
                h3.card-title Create a Limited Edition
                p.text-secondary Get Industry pros to review tour writing.
            .card-footer.border-0.pt-0 
                a.btn.btn-primary(href="") Learm More
    .col-12.col-sm-6.col-lg-4 
        .card.bg-light.border-0.h-100 
            .card-body 
                h3.card-title Upload Audio
                p.text-secondary Get Industry pros to review tour writing.
            .card-footer.border-0.pt-0 
                a.btn.btn-primary(href="") Learm More