div
    .container
        h3.mb-4.mb-5.text-center.text-sm-start Recent Comment
        .row.align-items-center.justify-content-center.justify-content-sm-between.gy-3.mb-4.mb-lg-5
            .col-12.col-sm-auto.text-center
                .rating.d-inline-flex.me-3.align-self-center(style="--star-rating: 4;")
                .text-secondary.d-inline-flex 24 total Reviews
            .col-12.col-sm-auto.text-center
                button.btn.btn-outline-primary(type="button") Write review
        .reviews
            hr.my-lg-5
            .text-secondary.review
                .row.gx-3.mb-3
                    .col-auto
                        img.rounded-circle(src="./images/dist/review-ava-1.jpg", alt="")
                    .col-auto
                        span.h5.text-black.me-1 Jaxson Aminoff
                        span Jan 12, 2024
                        .rating.mt-2(style="--star-rating: 5;")
                div
                    p I would like to join in next. If chosen, I would like to suggest _your_ short story (lol)  &quot;The Secret Lives of Strangers&quot; for inspiration (https://www.booksie.com/467912-the-secret-lives-of-strangers)
                    p I&apos;d like to write my entry as part of that story&apos;s miniverse. I realize this may be slightly outside the above &quot;prompting&quot; rules, but please accommodate as possible. As per my comment in your story&apos;s page, you already know I had intended to do a follow up piece on Secret Lives. I had a different idea for the style I’d employ. I am more into what I call &quot;structure-less rambling&quot; which is a style inspired on James Joyce&apos;s and Julio Cortazar&apos;s &quot;stream of consciousness&quot; literary styles (tho significantly less polished than theirs, lol). Anyway, regardless of style, this is a good opportunity to deliver on my intent to write on your enticing miniverse.
                    p There is, of course, a wrinkle: Your rules say (if chosen) the next contest entry must follow my style. However, I have not published anything on Booksie, yet. Let&apos;s do this: if I&apos;m chosen, the next entry should impersonate James Joyce&apos;s writing style in the short story &quot;Eveline&quot; (published in his &quot;Dubliners&quot; collection of shorts and easily accessible from your local library or $0.99 on Kindle). In spite of that big name, the style isn&apos;t intimidating at all. Quite the opposite, it&apos;s refreshingly simple and filled with one-liners and first person narrative.
                    p An alternative would be for me to pick a booksie entry in my stead. But the booksie/style I&apos;d pick in that case is a difficult style to follow. She&apos;s a brave writer, unafraid to take her story to depths I suspect not too many would follow and that courage is very much part of her style, IMO. Lastly, I should add that circumventing rules isn’t my thing (as chaos could ensue if each person picks which rules to ignore), but I see this as the best way for me to participate and keep the contest going.  Let me know what you decide.
            hr.my-lg-5
            .text-secondary.review
                .row.gx-3.mb-3
                    .col-auto
                        img.rounded-circle(src="./images/dist/review-ava-2.jpg", alt="")
                    .col-auto
                        span.h5.text-black.me-1 James Schleifer
                        span Jan 12, 2024
                        .rating.mt-2(style="--star-rating: 4.7;")
                div
                    p Let&apos;s do it - pleased to have you kick off the challenge! A few things:
                    p We can leave a choice up to the next participant, to either portray the writing style of said Booksie author (message me with a link to her profile please, and just be sure that she is aware of the challenge, too!) or James Joyce. I would prefer to keep this circulating within Booksie, as the purpose it to familiarize with one another and provide users an opportunity to read and get read - but no hard feelings if the next person interested chooses the latter as their challenge.
                    p Side note here, on how much I admire your consistent promotion of other authors, both beginners and seasoned! That is part of what makes a person a wonderful addition to any writing community! Support!
                    p Also, I am very honored you&apos;ve chosen one of my stories! Let&apos;s be honest here - I secretly wished I could have named myself as the first to be &quot;impersonated&quot; and kick off the challenge... but it seemed very vain and too suggestive. My ego is gleaming right now. Lol!
                    p Go ahead with your idea. Although it is strongly encouraged as part of the ITSOWC to imitate your &quot;theme-author&quot; as closely as possible, this is, after all, just a challenge and some rules are going to be bent in every entry! In contrast to those of a contest, the rules here are much less concrete. It&apos;d be interesting to see in which ways each participant decides to mirror their &quot;theme-author&quot; (I think I&apos;m making that the official term by use? Lol) and interpret their style. Perhaps it&apos;s not in the structure - as you said, you are more into &quot;structure-less rambling&quot; - but in the way that characters think, behave, connect, or are introduced, or the themes and so on.
                    p Excited to see what you come up with and how &quot;the Secret Lives of Strangers&quot; has inspired you! I&apos;m so eager to read your &quot;spin-off&quot;! Remember, there is no time limit here. Take all that you need. (This challenge will be a lengthy, but worthwhile, one all the way through I think!) :-)
            hr.my-lg-5
            .text-secondary.review
                .row.gx-3.mb-3
                    .col-auto
                        img.rounded-circle(src="./images/dist/review-ava-3.jpg", alt="")
                    .col-auto
                        span.h5.text-black.me-1 Miracle Geidt
                        span Jan 12, 2024
                        .rating.mt-2(style="--star-rating: 5;")
                div
                    p Rae, this sounds like an awesome idea, except that I&apos;m either too stupid or haven&apos;t had enough sleep (probably both!) to understand the rules :-/
                    p What do I say here? Do I choose an author I want to impersonate, or do I suggest myself as an author to be impersonated?
            hr.my-lg-5
        .text-center.mt-lg-6.mt-4
            button#reviews-load-more-btn.btn.btn-outline-primary Load More
            script.
                let button = document.querySelector('#reviews-load-more-btn')
                button.addEventListener('click', function () {
                ///
                })