
include ../../mixins/cards/top-card

section.mt-6.mt-lg-8.mb-6.mb-lg-9 
    .container 
        h2.mb-3.mb-lg-4 Top 100 Love Poems
        p.text-secondary The very first poem ever found was a love poem. Named The Love Song of Shu-Sin, it was discovered during an excavation in what was then Mesopotamia. Before this discovery, The Song of Songs (also called the Song of Solomon) from the Old Testament was considered the oldest love poem. Other famous poets who wrote about love included the Arabic writer Ibn al-Rumi in the thirteenth century, William Shakespeare in the sixteenth century, and more contemporary poets such as William Butler Yeats, Langston Hughes, Pablo Neruda, and Sylvia Plath.
        p.text-secondary Below are one hundred of the top love poems posted on Booksie for your free enjoyment. If you have your own love poems, 
            a(href="") add them for others to read.
        .row.g-3.mt-4.mt-lg-6.row-cols-2.row-cols-md-3.row.cols-lg-4.row-cols-xl-5
            .col
                +top-card(
                    "img/top-img-1.jpg", 
                    "The Greatest thing called love", 
                    "subbu", 
                    "My first poem..............May be Its not perfect but I love this poem", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-2.jpg", 
                    "Fear of Falling", 
                    "SmileValentine", 
                    "Most common fear", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-3.jpg", 
                    "I Miss You Too Much", 
                    "cheeky monkey", 
                    "This poem is about a relationship from the pouint of view from one of the people in it.", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-4.jpg", 
                    "ALWAYS, SELDOM, NEVER", 
                    "jhanery", 
                    "A very romantic short poem. Quite personal, yes ^^ Because I put my emotion in every single word.", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-5.jpg", 
                    "I WILL NEVER FORGET YOU!", 
                    "nid", 
                    "Concept of this poem— A man who has recently lost his wife remembers and recollects certain nostalgic thoughts", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-6.jpg", 
                    "The Greatest thing called love", 
                    "subbu", 
                    "My first poem..............May be Its not perfect but I love this poem", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-7.jpg", 
                    "Fear of Falling", 
                    "SmileValentine", 
                    "Most common fear", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-8.jpg", 
                    "I Miss You Too Much", 
                    "cheeky monkey", 
                    "This poem is about a relationship from the pouint of view from one of the people in it.", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-9.jpg", 
                    "ALWAYS, SELDOM, NEVER", 
                    "jhanery", 
                    "A very romantic short poem. Quite personal, yes ^^ Because I put my emotion in every single word.", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-10.jpg", 
                    "I WILL NEVER FORGET YOU!", 
                    "nid", 
                    "Concept of this poem— A man who has recently lost his wife remembers and recollects certain nostalgic thoughts", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-11.jpg", 
                    "The Greatest thing called love", 
                    "subbu", 
                    "My first poem..............May be Its not perfect but I love this poem", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-12.jpg", 
                    "Fear of Falling", 
                    "SmileValentine", 
                    "Most common fear", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-13.jpg", 
                    "I Miss You Too Much", 
                    "cheeky monkey", 
                    "This poem is about a relationship from the pouint of view from one of the people in it.", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-14.jpg", 
                    "ALWAYS, SELDOM, NEVER", 
                    "jhanery", 
                    "A very romantic short poem. Quite personal, yes ^^ Because I put my emotion in every single word.", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-15.jpg", 
                    "I WILL NEVER FORGET YOU!", 
                    "nid", 
                    "Concept of this poem— A man who has recently lost his wife remembers and recollects certain nostalgic thoughts", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-16.jpg", 
                    "The Greatest thing called love", 
                    "subbu", 
                    "My first poem..............May be Its not perfect but I love this poem", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-17.jpg", 
                    "Fear of Falling", 
                    "SmileValentine", 
                    "Most common fear", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-18.jpg", 
                    "I Miss You Too Much", 
                    "cheeky monkey", 
                    "This poem is about a relationship from the pouint of view from one of the people in it.", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-19.jpg", 
                    "ALWAYS, SELDOM, NEVER", 
                    "jhanery", 
                    "A very romantic short poem. Quite personal, yes ^^ Because I put my emotion in every single word.", 
                    {link:"#", text: "Start Reading"})
            .col
                +top-card(
                    "img/top-img-2.jpg", 
                    "I WILL NEVER FORGET YOU!", 
                    "nid", 
                    "Concept of this poem— A man who has recently lost his wife remembers and recollects certain nostalgic thoughts", 
                    {link:"#", text: "Start Reading"})
        include ../pagination
