mixin section-row-header(title, button)
    .row.align-items-center.justify-content-center.text-center.mb-4.justify-content-sm-between.text-sm-start.mb-lg-7
        .col-12.col-sm-auto
            h2.mb-0= title
        .col-12.col-sm-auto
            a.btn.btn-outline-primary(href=button.href)= button.text