include ../../mixins/breadcrumbs

section.mt-4.mb-6.mb-lg-9 
    .container 
        +breadcrumbs("Designate Beneficiaries")
        .row.justify-content-center 
            .col-12.col-xl-10.col-xxl-8 
                h2.text-center.mb-3 Designate Beneficiaries
                p.text-center.text-secondary.mb-4.mb-lg-5 Please upgrade to Premium membership to be able to use Booksie beneficiaries feature. Your designated beneficiary will inherit your Booksie account upon your passing. You can also leave a note to your beneficiary explaining how you would like the account to be maintained. If the primary beneficiary is no longer living, inheritance will be given to the secondary beneficiary. Please note: Booksie Legacy and Premium Members can manage beneficiaries on the site. The site does not retain beneficiary information for accounts that downgrade to Basic membership.
                h4 Primary Beneficiary
                .d-flex.border-bottom 
                    .w-50.p-3.text-secondary Email (Required)
                    .w-50.p-3.text-primary Empty
                .d-flex.border-bottom 
                    .w-50.p-3.text-secondary First Name
                    .w-50.p-3.text-primary Empty
                .d-flex.border-bottom 
                    .w-50.p-3.text-secondary Last Name
                    .w-50.p-3.text-primary Empty
                .d-flex.border-bottom 
                    .w-50.p-3.text-secondary Birthday
                    .w-50.p-3.text-primary Empty
                .d-flex.border-bottom 
                    .w-50.p-3.text-secondary Relationship
                    .w-50.p-3.text-primary Empty
                .d-flex.border-bottom 
                    .w-50.p-3.text-secondary Instructions
                    .w-50.p-3.text-primary Empty
                .my-3.bg-light.p-1.text-center 
                    a.text-uppercase(href="") Sample
                h4 Secondary Bemeficiary
                .d-flex.border-bottom 
                    .w-50.p-3.text-secondary Email (Required)
                    .w-50.p-3.text-primary Empty
                .d-flex.border-bottom 
                    .w-50.p-3.text-secondary First Name
                    .w-50.p-3.text-primary Empty
                .d-flex.border-bottom 
                    .w-50.p-3.text-secondary Last Name
                    .w-50.p-3.text-primary Empty
                .d-flex.border-bottom 
                    .w-50.p-3.text-secondary Birthday
                    .w-50.p-3.text-primary Empty
                .d-flex.border-bottom 
                    .w-50.p-3.text-secondary Relationship
                    .w-50.p-3.text-primary Empty
                .d-flex.border-bottom 
                    .w-50.p-3.text-secondary Instructions
                    .w-50.p-3.text-primary Empty
                p.text-center.my-3.my-lg-4 Premium Membership is as low as $4/month.
                .text-center 
                    a.btn.btn-primary(href="") Upgrade Now
