section.bg-light.py-6.py-lg-9 
    .container 
        .row.justify-content-center 
            .col-12.col-xl-8.col-xxl-6
                .content 
                    p Get more readers along with discounts, analytics, the ability to receive donations from your fans, and more. All for less than $4 per month. All from one of the fastest growing writing and publishing platforms around.
                    h3 With Premium, you will receive:
                    ul.p-0.m-0 
                        li.list-group-item.mb-2
                            img.icon.me-1(src="img/money-icon.svg", alt="")
                            | Earn money by connecting with your fans and followers (Learn More)
                        li.list-group-item.mb-2
                            img.icon.me-1(src="img/book-icon.svg", alt="")
                            | Exposure for your Published Books (Learn More)
                        li.list-group-item.mb-2
                            img.icon.me-1(src="img/terminal-icon.svg", alt="")
                            | AI Powered Coaching and Feedback on Your Writing (Learn More)
                        li.list-group-item.mb-2
                            img.icon.me-1(src="img/stop-icon.svg", alt="")
                            | An Ad Free Experience for you and your readers (Learn More)
                        li.list-group-item.mb-2
                            img.icon.me-1(src="img/tools-icon.svg", alt="")
                            | Tools to Help you Build an Audience (Learn More)
                        li.list-group-item.mb-2
                            img.icon.me-1(src="img/download-icon.svg", alt="")
                            | Content Conversion and Upload Tools (Learn More)
                        li.list-group-item.mb-2
                            img.icon.me-1(src="img/award-icon.svg", alt="")
                            | Discounts on Booksie Contests and Services (Learn More)
                    p.fw-medium All of this for less than $4 per month.
                    .row.g-3
                        .col-auto 
                            a.btn.btn-primary.text-uppercase(href="") Get Premium
                        .col-auto 
                            a.btn.btn-outline-primary.text-uppercase(href="") Learm more about these featurse
                    hr
