section 
    .position-relative 
        img.img-fluid.w-100(src="img/help-promoting.png", alt="")
        .bg-primary.bg-opacity-50.p-3.position-absolute.bottom-0.w-100
            h3.text-center.text-white.mb-0 Booksie Premium. Get Help Telling and Promoting Your Story for Less than $4 per month