include ../../mixins/lazy-video

section.my-6.my-lg-9 
    .container
        .row.justify-content-center 
            .col-12.col-xl-8.col-xxl-6
                h2.mb-4.mb-lg-6 What our members say about Premium:
                +lazy-video("VIDEOID")
                .row.gy-2.gy-lg-5
                    .col-2 
                        img.rounded-circle(src="img/review-ava-5.jpg", alt="")
                    .col-10
                        h6.text-primary.mb-3 Guenevere Lee
                        p.text-secondary.mb-0 "The best thing about the Premium membership is the discount on the writing competitions. It gives me extra motivation to set a goal like entering one. I also really like the spotlight feature, to help get my stories seen by others. And if I may add, the community on this website is really great. I feel really supported with my writing here :)"
                hr.my-4.my-lg-5
                .row.gy-2.gy-lg-5 
                    .col-2 
                        img.rounded-circle(src="img/review-ava-6.jpg", alt="")
                    .col-10
                        h6.text-primary.mb-3 h j furl
                        p.text-secondary.mb-0 "Booksie Premium Membership enabled me to join a network of talented authors, providing me with a fantastic opportunity to share my work and gain much-needed confidence. Ultimately you gave me the self-belief to be published."
                hr.my-4.my-lg-5
                .row.gy-2.gy-lg-5 
                    .col-2 
                        img.rounded-circle(src="img/review-ava-7.jpg", alt="")
                    .col-10
                        h6.text-primary.mb-3 Excly
                        p.text-secondary.mb-0 "I come from a musical background and the Premium feature of uploading audio versions to your writing allows me to add music to my writings as well as audio versions of my content."
                hr.my-4.my-lg-5
                .row.g-3 
                    .col-auto
                        a.btn.btn-primary.text-uppercase(href="")  Get Premium
                    .col-auto
                        a.btn.btn-outline-primary.text-uppercase(href="")  Learm more about these featurse