div 
    h3.mb-4.mb-lg-5 Get Premium
    ul.p-0.m-0 
        li.list-group-item.mb-3.mb-lg-4.fw-medium 
            i.icon.icon-question.me-1
            | Please be advised that because of the manual effort involved, there is a $25 fee to reopen a closed account.
        li.list-group-item.mb-3.mb-lg-4.fw-medium 
            i.icon.icon-question.me-1
            | If you close your account, your profile and your content will be removed from the site. Your comments and Quickees will remain.
        li.list-group-item.mb-3.mb-lg-4.fw-medium 
            i.icon.icon-question.me-1
            | You and your content will be removed from your groups and you will lose your fans and the writers that you like.
        li.list-group-item.mb-3.mb-lg-4.fw-medium 
            i.icon.icon-question.me-1
            | Once you suspend your account, you will no longer have access to it.
        li.list-group-item.mb-3.mb-lg-4.fw-medium 
            i.icon.icon-question.me-1
            | To reenable your account you will have to contact the admins at Booksie.
    form()
        .mb-3
            label.form-label.text-uppercase.small(for="reason") Please enter the reason you want to suspend your account (required):
            textarea.form-control(name="reason", id="reason", required, rows="4") 
        div 
            button.btn.btn-primary.text-uppercase(type="submit") Suspend My Account