.row.flex-nowrap.gx-2 
    .col-auto 
        svg(width="20", height="24", viewBox="0 0 20 24", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M7.5724 11.5C7.76832 10.943 8.15502 10.4734 8.66403 10.1742C9.17303 9.87509 9.77148 9.76574 10.3534 9.86555C10.9353 9.96536 11.4631 10.2679 11.8433 10.7196C12.2235 11.1712 12.4316 11.7429 12.4307 12.3333C12.4307 14 9.93073 14.8333 9.93073 14.8333M9.9974 18.1666H10.0057M18.3307 14C18.3307 18.6023 14.5998 22.3333 9.9974 22.3333C5.39502 22.3333 1.66406 18.6023 1.66406 14C1.66406 9.39759 5.39502 5.66663 9.9974 5.66663C14.5998 5.66663 18.3307 9.39759 18.3307 14Z", stroke="#6F6F6F", stroke-width="1.33333", stroke-linecap="round", stroke-linejoin="round")
    .col-auto
        h4.mb-3 The email alerts on the site are active by default. You are receiving email alerts for every new checked activity that is listed bellow.
        p.mb-4 To turn off emails for a specific activity, uncheck any relevant boxes below.
        form()
            .form-check.mb-3
                input#fan-connections.form-check-input(type="checkbox", value="", name="fan-connections")
                label.form-check-label(for="fan-connections") Fan Connections
            .form-check.mb-3
                input#fan-updates.form-check-input(type="checkbox", value="", name="fan-updates")
                label.form-check-label(for="fan-updates") Fan Updates (New Postings and News)
            .form-check.mb-3
                input#received-messages.form-check-input(type="checkbox", value="", name="received-messages")
                label.form-check-label(for="received-messages") Received Messages
            .form-check.mb-3
                input#new-reviews.form-check-input(type="checkbox", value="", name="new-reviews")
                label.form-check-label(for="new-reviews") New In-Line Reviews
            .form-check.mb-3
                input#comments.form-check-input(type="checkbox", value="", name="comments")
                label.form-check-label(for="comments") Comments
            .form-check.mb-3
                input#bookstore-review.form-check-input(type="checkbox", value="", name="bookstore-review")
                label.form-check-label(for="bookstore-review") BookStore Review
            .form-check.mb-3
                input#receive-updates.form-check-input(type="checkbox", value="", name="receive-updates")
                label.form-check-label(for="receive-updates") Receive udpates, newsletters, and writing-related offers